.u-align-start {
  align-items: flex-start;
}

.u-align-center {
  align-items: center;
}

.u-align-end {
  align-items: flex-end;
}

.u-rigid {
  flex: 0 0 auto;
}

.u-flexible {
  flex: 1 1 auto;
}

.u-grow {
  flex: 1 0 auto;
}

.u-shrink {
  flex: 0 1 auto;
}

.u-push-right {
  margin-right: auto;
}

.u-push-left {
  margin-left: auto;
}

.u-push-top {
  margin-top: auto;
}

.u-push-bottom {
  margin-bottom: auto;
}

@each $brkpt in map-keys($mq-breakpoints) {
  .u-align-start\@#{$brkpt} {
    @include mq($from: $brkpt) {
      align-items: flex-start;
    };
  }

  .u-align-center\@#{$brkpt} {
    @include mq($from: $brkpt) {
      align-items: center;
    }
  }

  .u-align-end\@#{$brkpt} {
    @include mq($from: $brkpt) {
      align-items: flex-end;
    }
  }
}

