$l-columns: 12 !default;

@for $col from 1 through $l-columns {
  .u-w#{$col} {
    width: percentage($col / $l-columns);
  }
}

@each $bpt, $value in $mq-breakpoints {
  @for $col from 1 through $l-columns {
    .u-w#{$col}\@#{$bpt} {
      @include mq($from: $bpt) {
        width: percentage($col / $l-columns);
      }
    }
  }
}
