{% extends "base.twig" %}

{% block content %}
	<div class="o-deck c-404-splash">
		<div class="o-deck__container o-deck__container--narrow">
			<div class="o-deck__column c-404-splash__column u-w7@lg u-w12">
				<h1 class="c-404-splash__heading">404</h1>
				<p class="c-404-splash__subheading">Sorry, we couldn't find the page you're looking for. You could try searching our site, or head back to our <a href="{{site.url|e('esc_url')}}">homepage</a>.</p>
			</div>
			<div class="o-deck__column c-404-splash__column u-w12 u-w5@lg">
				<form action="{{site.url|e('esc_url')}}" class="c-searchbar c-404-splash__searchbar" role="search" aria-label="Search the Kenyon Collegian">
					<label class="u-visibly-hidden" for="404-search-field">Search</label>
					<input class="c-searchbar__field c-field c-field--text" type="search" name="s" id="404-search-field" placeholder="Search" required value="{{uri_terms|join(' ')|e('html_attr')}}">
					<button class="c-button c-searchbar__button" type="submit" aria-label="Submit search">
						<span class="c-button__icon"><i data-feather="search"></i></span>
					</button>
				</form>
				{% if uri_terms and uri_terms|length > 1 %}
					<ul class="c-404-splash__search-suggestions">
						{% for term in uri_terms %}
							<li class="c-404-splash__search-suggestion">
								<a class="c-badge c-badge--secondary" href="{{(site.url ~ '?s=' ~ term)|e('esc_url')}}" aria-label="Search for {{term|e('html_attr')}}"><i data-feather="search"></i> {{term|e('esc_html')}}</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
