{% if has_ads_for_group(group_id) %}
  <figure class="c-ad">
    <figcaption class="c-label c-label--strong c-ad__label">Paid Advertisement</figcaption>
    <div class="c-ad__body">
      {{ ad_group(group_id) }}
    </div>
  </figure>
{% endif %}
