{% extends "base.twig" %}

{% block content %}
    {% block page_header %}
        <header class="c-page-header">
            <div class="o-container">
                <h1 class="c-page-header__heading">
                    {{ title }}
                    {% if paged > 1 %}
                        <span class="c-page-header__page-count">Page {{ paged }}</span>
                    {% endif %}
                </h1>
            </div>
        </header>
    {% endblock page_header %}

    {% block deck %}
    {% endblock deck %}
    {% block featured_content %}
    {% endblock featured_content %}
    <div class="o-deck o-deck--vanish">
        <div class="o-deck__container o-deck__container--narrow">
            {% block story_stream %}
                <section class="o-deck__column c-story-stream u-flexible u-w12 u-w8@lg">
                    <div class="c-brochure">
                        {% block story_stream_heading %}{% endblock story_stream_heading %}
                        <ul class="c-brochure-list c-story-stream__list js-loadable" id="main-story-stream" data-channel="story-stream">
                            {% for post in posts %}
                                <li class="c-brochure__item c-story-stream__item">
                                    <article class="c-summary c-story-stream__story u-clearfix">
                                        {% include "thumbnail.twig" with { classes: ['c-story-stream__thumbnail', 'u-rigid'], link: true } %}
                                        <header class="u-flexible">
                                            {% include "kicker.twig" with { classes: ['c-story-stream__kicker'], category_exclude: category.slug } %}
                                            {% include "headline.twig" with { classes: ['c-story-stream__headline'], link: true } %}
                                            {% include "teaser.twig" with { classes: ['c-story-stream__teaser'] } %}
                                            <div class="o-metabar c-summary__meta">
                                                <div class="o-metabar__item">
                                                    {% include "byline.twig" with { classes: ['c-story-stream__byline'] } %}
                                                    {% include "timestamp.twig" with { classes: ['c-story-stream__timestamp' ] } %}
                                                </div>
                                            </div>
                                        </header>
                                    </article>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% if posts.pagination.total > 1 %}
                        <div class="c-story-stream__footer" role="navigation" aria-label="Archive Pagination Navigation">
                            <button class="c-button c-button--primary c-story-stream__load-more-button js-loader" 
                            type="button" data-target="main-story-stream" 
                            data-next="{{posts.pagination.next.link|e('esc_url')}}" data-alert="main-story-stream-alert"
                            aria-controls="main-story-stream" aria-label="Load More Articles">
                                <span class="c-button__text">Load More</span>
                                <span class="u-visibly-hidden">Articles</span>
                                <div class="c-story-stream__loading-bar" aria-hidden="true">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </button>
                            <span class="u-visibly-hidden" id="main-story-stream-alert"
                            aria-role="alert" aria-live="polite"></span>
                            <!-- backup pagination -->
                            <noscript>
                                <ul class="c-pagination">
                                    {% if posts.pagination.prev %}
                                        <li class=" c-pagination__button c-pagination__button--prev">
                                            <a href="{{posts.pagination.prev.link|e('esc_url')}}" class="c-button c-button--primary"
                                            aria-label="Go to previous page">
                                                <span class="c-button__icon">
                                                    <i data-feather="arrow-left"></i>
                                                </span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li class="c-pagination__current" aria-current>
                                        Page <strong>{{ posts.pagination.current }}</strong> of <strong>{{ posts.pagination.total }}</strong>
                                    </li>
                                    {% if posts.pagination.next %}
                                        <li class=" c-pagination__button c-pagination__button--next">
                                            <a href="{{posts.pagination.next.link|e('esc_url')}}" class="c-button c-button--primary"
                                            aria-label="Go to next page">
                                                <span class="c-button__icon">
                                                    <i data-feather="arrow-right"></i>
                                                </span>
                                            </a>
                                        </li> 
                                    {% endif %}
                                </ul>
                            </noscript>
                        </div>
                    {% endif %}                
                </section>
            {% endblock story_stream %}
            {% block sidebar %}
                <aside class="o-deck__column u-flexible u-w12 u-w4@lg">
                    {% block sidebar_priority %}{% endblock sidebar_priority %}
                    <section class="c-brochure c-popular u-dn u-db@lg">
                        {% include "popular-posts.twig" %}
                    </section>
                </aside>
            {% endblock sidebar %}
        </div>
    </div>
{% endblock content %}
