{% extends "archive.twig" %}

{% block page_header %}
    <header class="c-page-header">
        <div class="o-container">
            {% if parent_cat %}
                <a href="{{ parent_cat.link|e('esc_url') }}" class="c-label c-label--breadcrumb"><i data-feather="arrow-left"></i><span class="u-visibly-hidden">Go back to </span><span class="c-label__text">{{ parent_cat.name|e('esc_html') }}</span></a>
            {% endif %}
            <h1 class="c-page-header__heading">{{ category.name|e('esc_html') }}</h1>
        </div>
        {% if category.children %}
                <div class="c-page-header__submenu">
                    <ul class="c-page-header__submenu-list o-container o-container--flush">
                        {% for child in category.children %}
                            <li class="c-page-header__submenu-item">
                                <a href="{{ child.link|e('esc_url') }}" class="c-page-header__submenu-link">{{ child.name|e('esc_html') }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
        {% endif %}
    </header>
{% endblock %}
