{% extends "archive.twig" %}

{% block page_header %}
    <header class="c-page-header">
        <div class="o-container c-page-header__container">
            <h1 class="c-page-header__heading c-page-header__heading--tag">
                <span class="c-page-header__kicker">Topic</span>
                {{ title }}
            </h1>
        </div>
    </header>
{% endblock page_header %}
