{% extends "archive.twig" %}

{% block page_header %}
	<header class="c-page-header">
        <div class="o-container c-page-header__container">
            <h1 class="c-page-header__heading c-page-header__heading--author o-container-breaker o-media o-media--align-center">
				<div class="o-media__image o-media__image--token c-page-header__profile">
					<img src="{{author.avatar}}" alt="" class="c-page-header__avatar">
				</div>
				<div class="o-media__body">
					<span class="c-page-header__kicker">Articles by</span>
					{{ title }}
				</div>
			</h1>
        </div>
    </header>
{% endblock page_header %}

{% block sidebar_priority %}
	{% if author.description %}
		<section class="c-brochure c-brochure--author-bio">
			<h2 class="c-brochure__heading">About {{author.first_name|e('esc_html')}}</h2>
			<div class="c-brochure__item">
				<p>{{ author.description|e('esc_html') }}</p>
			</div>
		</section>
	{% endif %}
{% endblock sidebar_priority %}
