{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{% include "logo-full.twig" %}
		<header class="c-header" role="banner" id="header">
			{% block header %}
				<div class="c-header__container">
					<div class="c-header__float o-container">
						<h1 class="c-header__logo-container">
							<a class="c-header__logo-link" href="{{site.url|e('esc_url')}}" rel="home">
								<svg id='header-logo' class="c-logo c-header__logo" viewBox="0 0 251 40">
									<use href="#logo"></use>
								</svg>
							</a>
						</h1>
						<nav id="nav-main" class="c-header__nav" role="navigation">
							{% include "menu.twig" with {'menu': menu.get_items() } %}
						</nav>
					</div>
					<button id="menu-toggle" class="c-button c-header__button c-header__button--menu js-toggle is-closed" type="button" aria-label="Toggle Menu" data-target="header-drawer">
						<span class="c-button__icon c-header__icon">
							<i data-feather="menu"></i>
						</span>
					</button>
					<button id="search-toggle" class="c-button c-header__button c-header__button--search js-toggle is-closed" type="button" aria-label="Toggle Search" data-target="header-search">
						<span class="c-button__icon c-header__icon">
							<i data-feather="search"></i>
							<i data-feather="x"></i>							
						</span>
					</button>
					<div id="header-search" class="c-header__search-form is-closed" aria-hidden="true" aria-controls="search-toggle">
						<form action="{{site.url|e('esc_url')}}" class="c-searchbar c-searchbar--header c-header__searchbar" role="search">
							<label class="u-visibly-hidden" for="header-search-input">Search the Kenyon Collegian</label>
							<input id="header-search-input" type="text" class="c-field c-field--text c-searchbar__field" name="s" placeholder="Search" autocomplete="on" required>
							<button class="c-button c-searchbar__button" type="submit" aria-label="Submit search">
								<span class="c-button__icon"><i data-feather="search"></i></span>
							</button>
						</form>
					</div>
				</div>
				{% endblock %}
			</header>
			<div id="header-drawer" class="c-header__drawer c-drawer is-closed" aria-hidden="true" aria-controls="menu-toggle">
				<nav class="c-drawer__nav" role="navigation" aria-label="Extended site navigation">
					<a href="{{site.url|e('esc_url')}}" class="c-drawer__topper" aria-label="The Kenyon Collegian Homepage">
						<svg id='drawer-logo' class="c-logo c-drawer__logo" viewBox="0 0 251 40">
							<use xlink:href="#logo"></use>
						</svg>
					</a>
					{% if menu %}
						<h2 class="c-drawer__label">Sections</h2>
						<ul class="c-drawer__nav-items">
							{% for item in menu.get_items %}
								<li class="c-drawer__nav-item {{ item.classes | join(' ') }}">
									<a class="c-drawer__nav-link" target="{{ item.target }}" href="{{ item.link|e('esc_url') }}">{{ item.title }}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
					{% if secondary_menu %}
						<h2 class="c-drawer__label">Learn More</h2>
						<ul class="c-drawer__nav-items">
							{% for item in secondary_menu.get_items %}
								<li class="c-drawer__nav-item {{ item.classes | join(' ') }}">
									<a class="c-drawer__nav-link" target="{{ item.target }}" href="{{ item.link|e('esc_url') }}">{{ item.title }}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</nav>
				<div id="header-drawer-shadow" class="c-drawer__shadow js-toggle is-open" role="button" aria-label="Close extended navigation" data-target="header-drawer"></div>
			</div>
		<div class="o-content" id="content">
			{% include 'breaking-news-banner.twig' %}
			<main role="main" class="o-content__inner">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</main>

		</div>
		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
