{% if breaking_news_alert %}
    {# [1] - The modified date and time in ISO8601 format allows Javascript to determine if the alert has
        been modified since it was last dismissed. Don't edit the format unless you also change it in the
        client-side Javascript as well! #}
    {% set datetime = breaking_news_alert.modified_date('c') %} {# 1 #}
    <div id="breaking-news-alert" class="c-alert-banner js-dismissable is-closed" 
    aria-hidden="true" data-modified-datetime="{{ datetime }}"{# 1 #}>
        <div class="o-container o-container--wide c-alert-banner__container">
            <div class="c-alert-banner__body">
                <h1 class="c-alert-banner__heading">
                    Breaking&nbsp;&mdash;
                    <time class="c-alert-banner__timestamp" datetime="{{ datetime }}">{{ datetime|format_relative_timestamp }}</time>
                </h1>
                {% if breaking_news_alert.get_field('alert_content') %}
                    <p class="c-alert-banner__content">{{ breaking_news_alert.get_field('alert_content')|e('esc_html') }}</p>
                {% endif %}
            </div>
            <div class="o-action-group c-alert-banner__buttons u-align-right">
                {% if breaking_news_article %}
                    <a href="{{ breaking_news_article.link()|e('esc_url') }}" class="o-action-group__item c-button c-alert-banner__button c-alert-banner__button--read-more u-align-center">
                        <span class="c-button__text">Read more</span>
                    </a>
                {% endif %}
                {% if breaking_news_alert.has_field('twitter_button') %}
                    <a href="{{('https://twitter.com/' ~ (options.twitter_handle|replace({'@': ''})))|e('esc_url')}}" class="o-action-group__item c-button c-button--with-icon c-alert-banner__button c-alert-banner__button--twitter u-align-center">
                        <span class="c-button__text">Follow updates on Twitter</span>
                        <span class="c-button__icon"><i data-feather="twitter"></i></span>
                    </a>
                {% endif %}
            </div>
            <button id="breaking-news-close" class="c-button c-alert-banner__close js-toggle" data-target="breaking-news-alert" type="button">
                <span class="u-visibly-hidden">Close Alert</span>
                <span class="c-button__icon"><i data-feather="x"></i></span>
            </button>
        </div>
    </div>
{% endif %}
