{% set classes = classes ?? [] %}
{% spaceless %}
<address class="{{ classes|merge(['o-byline'])|join(' ') }}">
    by
    {% if post.has_field('authors') %}
        {%- for author in post.get_field('authors') -%}
            {% if loop.last and loop.length > 1 %} and {% endif %}
            {%- if author.is_guest_author -%}
                <span class="o-byline__author o-byline__author--guest">{{ author.guest_author.name }}</span>
            {%- else -%}
                {% set authorUser = TimberUser(author.staff_author) %}
                <a href="{{ authorUser.link|e('esc_url') }}" class="o-byline__author o-byline--staff">{{ authorUser.name|e('esc_html') }}</a>
            {%- endif -%}
            {% if not loop.last and loop.length > 2 %}, {% endif %}
        {%- endfor -%}
    {% else %}
        <a href="{{ post.author.link|e('esc_url') }}" class="o-byline__author o-bline__author--staff">{{ post.author.name|e('esc_html') }}</a>
    {% endif %}
</address>
{% endspaceless %}
