{% set level = level ?? 3 %}
{% if level > 6 %}
	{% set level = 6 %}
{% endif %}
<article class="c-comment c-comment--level-{{level}} is-closed" id="comment-{{comment.ID}}" aria-hidden="true">
	<div class="c-comment__container">
		<header class="c-comment__header">
			<h{{level}} class="c-comment__author">{{comment.author.name}}</h{{level}}>
			<p class="c-comment__timestamp c-label c-label--strong"><time datetime="{{comment.date|date("c")}}">{{ comment.date }} &mdash; {{ comment.time }} ET</time></p>
		</header>
		<div class="c-comment__content">
			{% set cmt_content = comment.comment_content %}
			{% if parent_author %}
				{% set cmt_content = '<span class="c-comment__handle"><i data-feather="corner-down-right"></i> ' ~ parent_author ~ '</span>' ~ comment.comment_content %}
			{% endif %}
			{{cmt_content|wpautop}}
		</div>
		{% if post.comment_status != "closed" %}
			<div class="c-comment__tools">
				<button class="c-comment__tool js-cmt-toggle is-closed" type="button" data-target="{{comment.ID}}-comment-form">Reply</button>
			</div>
		{% endif %}
	</div>
	{% include "comment-form.twig" %}
	{% if comment.children %}
		<section class="c-comment__replies" aria-label="Replies">
			{% for cmt in comment.children %}
				{% include "comment.twig" with {comment:cmt, level:(level + 1), parent_author:comment.author.name} %}
			{% endfor %}
		</section>
	{% endif %}
</article>
