{% set uid = comment.ID|default('0') %}
<div class="c-comment-form is-closed" id="{{uid}}-comment-form" aria-hidden="true">
    <h3 id="{{uid}}-comment-form-heading" class="c-label c-label--strong">
        {% if comment %}
            Reply to {{comment.author.name|e('esc_html')}}
        {% else %}
            Leave a comment
        {% endif %}
    </h3>
    <button class="c-comment-form__toggle c-button js-cmt-toggle is-open" aria-label="Close comment form" data-target="{{uid}}-comment-form">
        <span class="c-button__icon"><i data-feather="x"></i></span>
    </button>
    <form class="c-comment-form__container" method="post" action="{{ site.url~'/wp-comments-post.php' }}" aria-labelledby="{{uid}}-comment-form-heading">
        {% if  user %}
            <input type="hidden" name="email" value="{{ user.email }}">
            <input type="hidden" name="author" value="{{ user.name }}">
            <input type="hidden" name="url" value="{{ user.link }}">
        {% else %}
            <div class="c-comment-form__fieldgroup">
                <label class="c-label c-comment-form__label" for="{{uid}}-comment-email">Email</label>
                <input class="c-field c-field--text c-comment-form__field" required name="email" type="email" id="{{uid}}-comment-email"/>
                <p class="c-label c-label--help c-comment-form__help"><i data-feather="info"></i><span class="c-label__text">We won't publish your email address or send you unsolicited emails.</span></p>
            </div>
            <div class="c-comment-form__fieldgroup">
                <label class="c-label c-comment-form__label" for="{{uid}}-comment-author">Name</label>
                <input class="c-field c-field--text c-comment-form__field" required name="author" type="text" id="{{uid}}-comment-author"/>
            </div>
        {% endif %}

        <div class="c-comment-form__fieldgroup">
            <label class="c-label c-comment-form__label" for="{{uid}}-comment-body">Comment</label>
            <textarea class="c-field c-field--textarea c-comment-form__field c-comment-form__field--textarea" required placeholder="What are your thoughts?" name="comment" cols="60" rows="3" id="{{uid}}-comment-body"></textarea>
        </div>

        <input name="comment_post_ID" value="{{ post.id }}" id="{{uid}}-comment_post_ID" type="hidden">
        <input name="comment_parent" id="{{uid}}-comment_parent" value="{{ uid }}" type="hidden">

        <div class="c-comment-form__buttons u-align-right">
            <button type="submit" name="Submit" class="c-button c-button--primary c-comment-form__button"><span class="c-button__text">Submit</span></button>
        </div>
    </form>
</div>
