<footer class="c-footer" role="contentinfo" id="footer">
    <div class="c-footer__ribbon">
        <div class="o-container o-container--wide c-footer__ribbon-inner">
            <h1 class="c-footer__logo-container">
                <a href="{{site.url}}" class="c-footer__logo-link">
                    <svg id='footer-logo' class="c-logo c-footer__logo" viewBox="0 0 251 40">
                        <use xlink:href="#logo"></use>
                    </svg>
                </a>
            </h1>
        </div>
    </div>
    <nav class="c-footer__nav">
        <ul class="c-footer__nav-list o-container o-container--wide">
            {% for item in footer_menu.get_items() %}
                <li class="c-footer__nav-column">
                    <a href="{{item.link}}" target="{{item.target}}" class="c-footer__nav-link c-footer__nav-link--strong {{item.classes|join(' ')}}">
                        {{item.title}}
                    </a>
                    {% set children = item.get_children() %}
                    {% if children %}
                        <ul class="c-footer__nav-subitems">
                            {% for child in children %}
                                <li class="c-footer__subitem">
                                    <a href="{{child.link}}" target="{{child.target}}" class="c-footer__nav-link {{ child.classes|join(' ') }}">
                                        {{ child.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
    <ul class="c-footer__social">
        <li class="c-footer__social-item">
            <a href="{{options.facebook_url|e('esc_url')}}" class="c-footer__social-link c-button c-button--round" aria-label="Visit {{site.name}} on Facebook">
                <span class="c-button__icon"><i data-feather="facebook"></i></span>
            </a>
        </li>
        <li class="c-footer__social-item">
            <a href="{{( 'https://twitter.com/' ~ (options.twitter_handle|replace({'@': ''})) )|e('esc_url')}}" class="c-footer__social-link c-button c-button--round" aria-label="Visit {{site.name}} on Twitter">
                <span class="c-button__icon"><i data-feather="twitter"></i></span>
            </a>
        </li>
        <li class="c-footer__social-item">
            <a href="{{( 'https://instagram.com/' ~ (options.instagram_handle|replace({'@': ''})) )|e('esc_url')}}" class="c-footer__social-link c-button c-button--round" aria-label="Visit {{site.name}} on Instagram">
                <span class="c-button__icon"><i data-feather="instagram"></i></span>
            </a>
        </li>
    </ul>
    <div class="c-footer__fine-print">
        <div class="c-footer__fine-print-inner o-container o-container--wide">
            <div class="c-footer__copyright u-shrink">&copy; Copyright {{"now"|date('Y')}} {{site.name}}</div>
            <a href="{{options.privacy_policy_page|e('esc_url')}}" class="c-footer__privacy-link u-shrink">Privacy Policy</a>
        </div>
    </div>
</footer>
