{% extends "base.twig" %}

{% block content %}
    <div class="o-deck o-deck--vanish">
        <section class="o-deck__container">
            <h2 class="u-visibly-hidden">Top Story</h2>
            <article class="o-deck__column o-media c-summary c-top-story u-flexible u-w12">
                {% set top_story = TimberPost(post_ids.top_story) %}
                {% include "thumbnail.twig" with { post: top_story, classes: ['c-top-story__thumbnail', 'u-rigid' ], link: true } %}
                <header class="c-top-story__body o-media__body u-w6@lg">
                    {% include "kicker.twig" with { post: top_story, classes: ['o-kicker--large'], category_exclude: 'news' } %}
                    {% include "headline.twig" with { post: top_story, classes: ['o-headline--large'], link: true } %}
                    {% include "teaser.twig" with { post: top_story, classes: ['o-teaser--large'] } %}
                    <div class="o-metabar c-summary__meta">
                        <div class="o-metabar__item u-w12">
                            {% include "byline.twig" with { post: top_story } %}
                            {% include "timestamp.twig" with { post: top_story, date_format: 'relative' } %}
                        </div>
                    </div>
                </header>
            </article>
        </section>
    </div>
    <div class="o-deck o-deck--vanish">
        <div class="o-deck__container">
            <section class="o-deck__column c-brochure c-latest-news u-flexible u-w12 u-w4@md u-w3@lg">
                <h2 class="c-brochure__heading">In the News</h2>
                <ul class="c-brochure__list c-latest-news__list">
                    {% for pid in post_ids.latest_news %}
                    {% set post = TimberPost(pid) %}
                    <li class="c-brochure__item c-latest-news__item">
                        <article class="c-summary c-latest-news__story">
                            {% include "headline.twig" with { classes: ['o-headline--small'], link: true } %}
                            <div class="o-metabar c-summary__meta c-summary__meta--tight">
                                <div class="o-metabar__item">
                                    {% include "timestamp.twig" with { date_format: 'relative' } %}
                                </div>
                                <div class="o-metabar__item o-metabar__item--right">
                                    <a href="{{ post.link ~ '#comments'|e('esc_url') }}" class="c-button c-button--flat c-button--comments">
                                        <span class="c-button__icon"><i data-feather="message-square"></i></span>
                                        <span class="c-button__text">{{ post.comment_count }}</span>
                                        <span class="u-visibly-hidden">{{ post.comment_count == 1 ? 'Comment' : 'Comments' }} on {{ post.title|e('esc_html') }}</span>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <section class="o-deck__column c-brochure c-featured-stories u-flexible u-w12 u-w8@md u-w6@lg">
                <h2 class="c-brochure__heading">Featured</h2>
                <ul class="c-brochure__list c-featured-stories__list">
                    {% for pid in post_ids.latest_featured|slice(0,3) %}
                        {% set post = TimberPost(pid) %}
                        <li class="c-brochure__item c-featured-stories__item u-flexible u-w12 {% if not loop.first %}u-w6@md{% endif %}">
                            {% if loop.first %}
                                <article class="c-featured-stories__story u-align-center c-summary">
                                    {% include "thumbnail.twig" with { classes: ['c-featured-stories__thumbnail'], link: true } %}
                                    {% include "kicker.twig" %}
                                    {% include "headline.twig" with { link: true, classes: ['o-headline--large'] } %}
                                    {% include "teaser.twig" %}
                                    <div class="o-metabar c-summary__meta">
                                        <div class="o-metabar__item u-w12">
                                            {% include "byline.twig" %}
                                            {% include "timestamp.twig" with { date_format: 'relative' } %}
                                        </div>
                                    </div>
                                </article>
                            {% else %}
                                <article class="c-featured-stories__story c-summary">
                                    {% include "thumbnail.twig" with { classes: ['c-featured-stories__thumbnail'], link: true } %}
                                    {% include "kicker.twig" %}
                                    {% include "headline.twig" with { link: true } %}
                                    {% include "teaser.twig" %}
                                    <div class="o-metabar c-summary__meta u-push-top">
                                        {% include "timestamp.twig" with { date_format: 'relative' } %}
                                    </div>
                                </article>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </section>
            <section class="o-deck__column c-brochure c-latest-stories u-flexible u-w12 u-w3@lg">
                <h2 class="c-brochure__heading">The Latest</h2>
                <ul class="c-brochure__list c-latest-stories__list">
                    {% for pid in post_ids.latest_any %}
                        {% set post = TimberPost(pid) %}
                        <li class="c-brochure__item c-latest-stories__item">
                            <article class="c-latest-stories__summary c-summary u-align-start">
                                {% set headline_args = {link:true, classes:['c-latest-stories__headline']} %}
                                {% if loop.first %}
                                    {% include "thumbnail.twig" with {link:true, classes:['c-latest-stories__thumbnail', 'u-rigid']} %}
                                {% else %}
                                    {% set headline_args = headline_args|merge({ classes:['o-headline--small', 'c-latest-stories__headline'] }) %}
                                    {% include "thumbnail.twig" with {link:true, classes:['c-latest-stories__thumbnail', 'c-latest-stories__thumbnail--small']} %}
                                {% endif %}
                                <header class="c-latest-stories__summary-body">
                                    {% include "kicker.twig" %}
                                    {% include "headline.twig" with headline_args %}
                                    {% if loop.first %}
                                        {% include "teaser.twig" %}
                                    {% endif %}
                                    <div class="o-metabar c-summary__meta{% if not loop.first %} c-summary__meta--tight{% endif %}">
                                        <div class="o-metabar__item">
                                            {% include "timestamp.twig" with {date_format:'relative'} %}
                                        </div>
                                    </div>
                                </header>
                            </article>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>
    {% set sub_promo = page.get_field('subscription_promo') %}
    {% if sub_promo %}
        <aside class="c-promo c-promo--subscription">
            <a href="{{ sub_promo.call_to_action_button.link_to_page|e('esc_url') }}" class="o-media c-promo__container" aria-label="Subscribe to the Kenyon Collegian">
                <div class="o-media__image c-promo__illustration">
                    <div style="background-image:url('{{ site.theme.link }}/assets/sprite.png');background-position:-64px 0;" class="c-promo__image" aria-hidden="true"></div>
                </div>
                <div class="o-media__body c-promo__body">
                    {% if sub_promo.show_new_badge %}
                      <span class="c-badge c-badge--primary c-badge--small c-promo__new-badge">New</span>
                    {% endif %}
                    <h2 class="c-promo__heading">{{ sub_promo.heading|e('esc_html') }}</h2>
                    <div class="c-promo__copy">
                        {{ sub_promo.body|e('wp_kses_post') }}
                        <span class="c-promo__cta">{{ sub_promo.call_to_action_button.button_text|e('esc_html') }} <i data-feather="arrow-right"></i></span>
                    </div>
                </div>
            </a>
        </aside>
    {% endif %}
    <div class="o-deck o-deck--vanish">
        <div class="o-deck__container">
            <section class="o-deck__column c-brochure c-popular u-flexible u-w12 u-w4@md">
                {% include "popular-posts.twig" %}
            </section>
            <div class="o-deck__column u-w12 u-w8@md u-flexible">
                <section class="c-brochure">
                    <h2 class="u-visibly-hidden">Editor's Pick</h2>
                    <article class="c-imax c-imax--jumbo">
                        {% set imax_post = TimberPost(post_ids.latest_featured[3]) %}
                        {% include "thumbnail.twig" with {classes:['c-imax__image'], post:imax_post} %}
                        <header class="c-imax__body">
                            {% include "headline.twig" with {classes:['c-imax__headline'], link: true, post:imax_post} %}
                        </header>
                        <a href="{{imax_post.link|e('esc_url')}}" class="c-imax__faux-link" aria-hidden="true"></a>
                    </article>
                </section>
                <section class="c-brochure c-opinions">
                    <h2 class="c-brochure__heading">Opinion</h2>
                    <ul class="c-brochure__list c-opinions__list">
                        {% set editorial = TimberPost(post_ids.editorial) %}
                        <li class="c-brochure__item c-opinions__item">
                            <article class="c-summary c-opinions__summary">
                                <header class="c-opinions__summary-body">
                                    {% include "kicker.twig" with {category_exclude:'opinion', post:editorial} %}
                                    {% include "headline.twig" with {post:editorial, link:true} %}
                                    {% include "teaser.twig" with {classes:['c-opinions__teaser'], post:editorial} %}
                                    <div class="o-metabar c-summary__meta u-push-top">
                                        <div class="o-metabar__item">
                                            {% include "byline.twig" with {post:editorial} %} {% include "timestamp.twig" with {post:editorial, date_format:'relative'} %}
                                        </div>
                                    </div>
                                </header>
                            </article>
                        </li>
                        {% for pid in post_ids['op_eds'] %}
                            {% set post = TimberPost(pid) %}
                            <li class="c-brochure__item c-opinions__item">
                                <article class="c-summary c-opinions__summary">
                                    <header class="c-opinions__summary-body">
                                        {% include "headline.twig" with {classes:['o-headline--small'], link:true} %}
                                        <div class="o-metabar c-summary__meta c-summary__meta--tight u-push-top">
                                            {% include "byline.twig" with {classes:['c-opinions__byline']} %}
                                        </div>
                                    </header>
                                </article>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>
    </div>
    {% set tipline_promo = page.get_field('tip_line_promo') %}
    {% if tipline_promo %}
        <aside class="c-promo c-promo--tipline">
            <a href="{{ tipline_promo.cta_button.external_link|e('esc_url') }}" class="o-media c-promo__container u-shrink u-push-right" aria-label="Submit a news tip">
                <div class="o-media__image c-promo__illustration">
                    <div style="background-image:url('{{ site.theme.link }}/assets/sprite.png');background-position:0 -64px;" class="c-promo__image" aria-hidden="true"></div>
                </div>
                <div class="o-media__body c-promo__body">
                    <h2 class="c-promo__heading">{{ tipline_promo.heading|e('esc_html') }}</h2>
                    <div class="c-promo__copy">
                        {{ tipline_promo.body|e('wp_kses_post') }}
                        <span class="c-promo__cta">{{ tipline_promo.cta_button.button_text|e('esc_html') }} <i data-feather="arrow-right"></i></span>
                    </div>
                </div>
            </a>
        </aside>
    {% endif %}
    <div class="o-deck o-deck--vanish c-sections">
        <div class="o-deck__container">
            {% for section in ['features', 'arts', 'opinion', 'sports'] %}
                <div class="o-deck__column c-brochure c-vertical u-flexible u-w12 u-w6@md u-w3@lg">
                    <h2 class="c-brochure__heading">{{section|capitalize}}</h2>
                    <ul class="c-brochure__list c-vertical__list">
                        {% for pid in post_ids['latest_' ~ section] %}
                            {% set post = TimberPost(pid) %}
                            <li class="c-brochure__item c-vertical__item">
                                <article class="c-summary c-vertical__summary">
                                    <header class="c-vertical__summary-body">
                                        {% set headline_args = {link:true, classes:['o-headline--smallest']} %}
                                        {% if loop.first %}
                                            {% set headline_args = headline_args|merge({classes:['o-headline--small']}) %}
                                        {% endif %}
                                        {% include "headline.twig" with headline_args %}
                                        <div class="o-metabar c-summary__meta c-summary__meta--tight">
                                            {% include "timestamp.twig" with {date_format:'relative'} %}
                                        </div>
                                    </header>
                                </article>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
