{% set classes = classes ?? [] %}
{% set level = level ?? 3 %}

<h{{ level }} class="{{ classes|merge(['o-headline'])|join(' ') }}">
    {% if link %}
        <a href="{{ post.link|e('esc_url') }}">{{ post.title|e('esc_html') }}</a>
    {% else %}
        {{ post.title|e('esc_html') }}
    {% endif %}
</h{{ level }}>
