<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
    <meta charset="{{site.charset}}" />
    <title>   
        {% if function( 'is_front_page' ) %}
            {{ site.name }}
        {% else %}
            {{ wp_title }}
        {% endif %}
    </title>
    <meta name="description" content="{{site.description}}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <script>
        // indicate that user has JS enabled
        document.documentElement.classList.remove('no-js');

        // configure the webfont loader library
        window.WebFontConfig = {
            custom: {
                families: ['Libre Baskerville', 'Chivo'],
                urls: ['{{site.theme.link}}/fonts.css']
            }
        };

        // asynchronously load the webfont loader library
        (function(d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = '{{site.theme.link}}/assets/static/webfontloader.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>
    <script async defer src="{{site.theme.link}}/assets/static/lazysizes.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.theme.link}}/apple-touch-icon.png?v=jwLgzeG38B">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.theme.link}}/favicon-32x32.png?v=jwLgzeG38B">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.theme.link}}/favicon-16x16.png?v=jwLgzeG38B">
    <link rel="manifest" href="{{site.theme.link}}/manifest.json?v=jwLgzeG38B">
    <link rel="mask-icon" href="{{site.theme.link}}/safari-pinned-tab.svg?v=jwLgzeG38B" color="#4b2e84">
    <link rel="shortcut icon" href="{{site.theme.link}}/favicon.ico?v=jwLgzeG38B">
    <meta name="theme-color" content="#4b2e84">
    <link rel="pingback" href="{{site.pingback_url}}" />
    {{function('wp_head')}}
