{% set classes = classes ?? [] %}

{% if breaking_news_article and post.id == breaking_news_article.id %}
    <p class="{{ classes|merge(['o-kicker'])|join(' ') }}">
        <span class="o-kicker__breaking-news-badge">Breaking</span>
    </p>
{% elseif category_exclude is not same as(post.category.slug) %}
    <p class="{{ classes|merge(['o-kicker'])|join(' ') }}">
        <a href="{{ post.category.link|e('esc_url')}}" aria-label="See more articles in the {{ post.category.name }} section">
            <span class="u-visibly-hidden">Section:</span>
            {{ post.category.name|e('esc_html') }}
        </a>
    </p>
{% endif %}
