<svg viewBox="0 0 251 40" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none">
    <defs>
        <g id="logo" height="40" width="251">
            <path id="a" d="M0 20.2054h3.653V5.3417l2.4095-2.245 1.5934 1.587v15.5217h3.653l1.9043-3.5224-2.021-.0774V2.9418L8.55 0 3.653 4.5675V.0387L0 3.6772v16.5282z" transform="translate(236.79 12.827)"/>
            <path id="b" d="M0 20.128h3.5753l3.109-3.2127v3.2127h3.42l2.1762-3.4062H10.182V4.1804L6.2568 0 .039 5.3417h3.6143v-2.671l2.6427 2.8645L0 11.2252v8.9028zm3.653-3.445V8.6707l3.0702-2.7483V16.683h-3.07z" transform="translate(222.73 12.905)"/>
            <path id="c" d="M0 7.5093L3.653 4.374V0L0 3.2902v4.219zm0 20.3603l5.946-3.2128H3.653V7.664L0 10.9157v16.954z" transform="translate(215.21 5.163)"/>
            <path id="d" d="M0 20.128h3.4976l3.3422-2.516v6.503H2.798L.1944 27.0953h5.2465l4.9355-5.9222V4.7998L5.3243 0 0 5.574v14.554zm3.653-3.3288V3.058l3.148 2.903v10.8382H3.653z" transform="translate(202 12.905)"/>
            <path id="e" d="M0 20.128h5.7905l3.109-3.561H3.7308v-3.0967l6.762-7.432L5.091 0 0 4.7998V20.128zm3.7308-7.4706V2.5934l3.7697 5.9223-3.7697 4.1417z" transform="translate(189.92 12.905)"/>
            <path id="f" d="M0 27.8696h3.5753l2.4484-3.6385H3.653V0L0 3.4837v24.386z" transform="translate(182.4 5.163)"/>
            <path id="g" d="M0 27.8696h3.5753l2.4484-3.6385H3.653V0L0 3.4837v24.386z" transform="translate(174.87 5.163)"/>
            <path id="h" d="M0 20.128h4.0417l6.3346-6.1932V3.832L5.8683 0 0 5.9223V20.128zm3.653-3.3288V2.9805L6.84 5.6125v11.1867H3.653z" transform="translate(161.08 12.905)"/>
            <path id="i" d="M3.07 27.947h7.384l3.8474-5.6513-.4275-.3484-1.438 2.0902H8.7052V2.903l4.3137 4.258 2.3706-2.6322L10.9204 0 3.07 7.4706v4.374L0 14.8638h3.07v.8903L0 18.8895h3.07v9.0576zm4.0418-3.9095V4.2965l1.0493-1.045v20.786H7.112z" transform="translate(144.03 5.086)"/>
            <path id="j" d="M0 20.2054h3.653V5.3417l2.4095-2.245 1.5934 1.587v15.5217h3.653l1.9042-3.5224-2.0208-.0774V2.9418L8.5498 0 3.653 4.5675V.0387L0 3.6772v16.5282z" transform="translate(120.247 12.827)"/>
            <path id="k" d="M0 20.128h4.0417l6.3346-6.1932V3.832L5.8683 0 0 5.9223V20.128zm3.653-3.3288V2.9805L6.84 5.6125v11.1867H3.653z" transform="translate(107.04 12.905)"/>
            <path id="l" d="M0 20.128h3.5754l3.381-2.787v6.6578H2.3706L.311 27.0954h4.9743l5.363-6.0384V0l-3.653 3.6772V16.567H3.653V0L0 3.6772V20.128z" transform="translate(93.605 12.905)"/>
            <path id="m" d="M0 20.2054h3.653V5.3417l2.4095-2.245 1.5934 1.587v15.5217h3.653l1.9043-3.5224-2.021-.0774V2.9418L8.55 0 3.653 4.5675V.0387L0 3.6772v16.5282z" transform="translate(78.412 12.827)"/>
            <path id="n" d="M0 20.128h5.7905l3.109-3.561H3.7308v-3.0967l6.762-7.432L5.091 0 0 4.7998V20.128zm3.7308-7.4706V2.5934l3.7697 5.9223-3.7697 4.1417z" transform="translate(66.495 12.905)"/>
            <path id="o" d="M18.615 0h-6.8008l2.9172 3.814-5.9873 7.1016V0L3.459 5.6126v4.916l-3.42 3.4062H3.42v10.722l3.5755-3.0192V2.5934L8.2 1.2387v22.0247l-5.907 4.6062h6.49l-.039-12.8123 6.1403 12.8123h1.982l2.9147-4.219h-1.943L10.744 9.3515 18.6152 0zM3.2646 3.9095L6.8787 0H0l3.2645 3.9095z" transform="translate(44.76 5.163)"/>
            <path id="p" d="M0 7.0448h2.0267l1.088-1.2464h-1.809V4.7146l2.3668-2.6012L1.782 0l-1.782 1.68v5.3648zM1.3058 4.43V.9078l1.3194 2.0728L1.3058 4.43z" transform="translate(77.07 2.763)"/>
            <path id="q" d="M0 9.7544h1.2786V4.552l.8297-.7993.5713.569v5.4327H3.958l.6666-1.233-.7073-.027V3.712l-.952-1.0567L1.2785 4.281V0L0 1.287v8.4674z" transform="translate(71.942 .054)"/>
            <path id="r" d="M.952 9.7544H3.89l.6666-1.0974-.6937-.0136V1.26h1.2105L5.8488 0H1.0065L0 1.287h2.5027l-.5168.6097v2.3166L.952 5.3378h1.034v3.292L.952 9.7545zm1.6324-1.111l.68-.6367V1.2464h.408v7.397h-1.088z" transform="translate(66.09 .054)"/>
            <path d="M9.9742 6.4292v.7478l2.2413 1.1124V6.4292H9.9742zm1.3074 19.6v2.7618h-.7642v-3.6094l.7644-.9892-.0002 1.8368zm.934-5.99l-.934.9185h.934v-.9184zm-2.2414 0l-.934.9185h.934v-.9184zm0-9.622l-.934.7885v8.134l.934-.7886v-8.134zm2.2413 0l-.934.7885v8.134l.934-.7886v-8.134zM14.9825 0l-1.2818 1.3872-.343.3706V4.376h-7.157l-5.08 5.3948-.0373 21.5008 3.4363-2.9023v-18.305l1.158-1.302v21.17L0 34.3593h6.238l-.033-26.19-.0043-.567V4.9342H15.41l-.9505.7507v28.6745l1.681-1.327h18.3394l-6.5553-6.529H16.1404V4.3577l-.0372.029V4.376h-1.1775l.057-.0182V1.3872h.6346v2.9706h.523V1.3872L14.9827 0z"/>
        </g>
    </defs>
</svg>
