{% if menu %}
	<ul class="c-header__nav-items">
	{% for item in menu %}
		<li class="c-header__nav-item {{ item.classes | join(' ') }}">
			<a class="c-header__nav-link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% include "menu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
