{% extends "base.twig" %}

{% block content %}
		<article class="c-article c-article--{{post.post_type}}" id="post-{{post.ID}}">
			<header class="c-page-header">
				<div class="o-container">
					{% if post.parent %}
						<a href="{{ post.parent.link|e('esc_url') }}" class="c-page-header__breadcrumb">
							<span class="u-visibly-hidden">Go back to </span>{{ post.parent.title|e('esc_html') }}
						</a>
					{% endif %}
					<h1 class="c-page-header__heading">{{ post.title|e('esc_html') }}</h1>
				</div>
				{% if post.children("page") %}
						<div class="c-page-header__submenu">
							<ul class="c-page-header__submenu-list o-container o-container--flush">
								{% for child in post.children("page") %}
									<li class="c-page-header__submenu-item">
										<a href="{{ child.link|e('esc_url') }}" class="c-page-header__submenu-link">{{ child.title|e('esc_html') }}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
				{% endif %}
			</header>
			<div class="c-article__layout">
				<section class="c-article__content">
					<div class="c-article__body c-article__body--wysiwyg">
						{{ post.content|e('wp_kses_post') }}
					</div>
				</section>
			</div>
		</article>
{% endblock %}
