{% filter shortcodes %}
    [wpp header="Popular Today" header_start='<h2 class="c-brochure__heading">' header_end='</h2>' limit=5 post_type='post' stats_date=1 wpp_start='<ol class="c-brochure__list c-popular__list">' wpp_end='</ol>' post_html='<li class="c-brochure__item o-media o-media--center c-popular__item"><article class="c-popular__story c-summary u-flexible"><h3 class="o-headline c-popular__headline"><a class="c-popular__link" href="{url}">{text_title}</a></h3><div class="o-metabar">{date}</div></article></li>']
{% endfilter  %}

