{% extends "archive.twig" %}

{% block page_header %}
    <header class="c-page-header">
        <div class="o-container">
            <h1 class="u-visibly-hidden">
                Search results for {{ query|e('esc_html') }}
            </h1>
            <form action="{{site.url|e('esc_url')}}" class="c-searchbar c-searchbar--main">
                <label class="u-visibly-hidden" for="main-search-input">Search the Kenyon Collegian</label>
                <input id="main-search-input" type="text" class="c-field c-field--text c-searchbar__field" name="s" value="{{query|e('esc_html')}}" placeholder="Search" autocomplete="on" required>
                <button class="c-button c-searchbar__button" type="submit" aria-label="Submit search">
                    <span class="c-button__icon"><i data-feather="search"></i></span>
                </button>
            </form>
            <p class="c-label">
                <i data-feather="info"></i><span class="c-label__text">{{ count }} articles found for &lsquo;{{ query|e('esc_html') }}&rsquo;</span>
            </p>
        </div>
    </header>
{% endblock page_header %}

{% block story_stream %}
    {% if count == 0 %}
        <section class="o-deck__column c-brochure u-flexible u-w12 u-w8@lg">
            <div class="c-empty-state">
                <p class="c-empty-state__jumbo">No results found</p>
                <p class="c-empty-state__blurb">You stumped us &mdash; you might want to try a different search above.</p>
            </div>
        </section>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock story_stream %}

{% block story_stream_heading %}
<h2 class="c-brochure__heading">
    Results
</h2>
{% endblock story_stream_heading %}
