{% extends "base.twig" %}

{% block content %}
	<article class="c-article c-article--{{ post.post_type }}" id="post-{{ post.ID }}">
		<header class="c-article__header">
			<div class="o-container">
				{% include "kicker.twig" with { classes: ['o-kicker--large'] } %}
				<h1 class="o-headline o-headline--title">{{ post.title|e('esc_html') }}</h1>
			</div>
			<div class="c-article__metabar">
				<div class="o-container o-metabar o-metabar--extended">
					<div class="o-metabar__item o-metabar__item--left">
						{% include "byline.twig" %}
						{% include "timestamp.twig" with { classes: ['o-timestamp--subtle c-label c-label--strong'] } %}
					</div>
					<div class="o-metabar__item o-metabar__item--right c-article__comment-link">
						<a href="{{ post.link ~ '#comments'|e('esc_url') }}" class="c-button c-button--flat c-button--comments" aria-label="Jump to comments">
							<span class="c-button__icon"><i data-feather="message-square"></i></span>
							<span class="c-button__text">{{ post.comment_count }} {{ post.comment_count == 1 ? 'Comment' : 'Comments' }}</span>
						</a>
					</div>
				</div>
			</div>
		</header>
		<div class="c-article__layout">
			<div class="c-article__content u-w8@lg">
				{% if 'image' is not same as(post.format) %}
					{% include "thumbnail.twig" with { classes: ['c-article__hero'] } %}
					{% if post.thumbnail %}
						<p class="c-article__hero-caption">{{post.thumbnail.caption}}</p>
					{% endif %}
				{% endif %}
				<aside class="c-article__share-tools" id="share-tools">
					<div class="o-container c-article__share-container">
						<h2 class="c-label c-label--strong c-article__share-label">Share<span class="u-visibly-hidden"> this article</span></h2>
						<ul class="c-article__share-links">
							<li class="c-article__share-item">
								<a href="https://www.facebook.com/sharer.php?u={{post.link|url_encode}}" class="c-article__share-link c-button c-button--round" aria-label="Share on Facebook" title="Share on Facebook" target="_blank">
									<span class="c-button__icon">
										<i data-feather="facebook"></i>
									</span>
								</a>
							</li>
							<li class="c-article__share-item">
								<a href="https://twitter.com/intent/tweet?url={{post.link|url_encode}}&text={{post.title|url_encode}}&via=KenyonCollegian" class="c-article__share-link c-button c-button--round" aria-label="Share on Twitter" title="Share on Twitter" target="_blank">
									<span class="c-button__icon">
										<i data-feather="twitter"></i>
									</span>
								</a>
							</li>
							<li class="c-article__share-item">
								<a href="mailto:?subject={{('From the Kenyon Collegian: ' ~ post.title)|url_encode}}&body={{('Check out “' ~ post.title ~ '” from the Kenyon Collegian: ' ~ post.link )|url_encode}}" class="c-article__share-link c-button c-button--round" aria-label="Email this article" title="Share by email" target="_blank">
									<span class="c-button__icon">
										<i data-feather="mail"></i>
									</span>
								</a>
							</li>
						</ul>
					</div>
				</aside>
				{% block single_body %}
					<div class="c-article__body c-article__body--wysiwyg">
						{{post.content}}
					</div>
				{% endblock single_body %}
			</div>
			<footer class="c-article__info o-container o-container--flush u-w4@lg">
				<aside class="c-article__sidebar">
          {% include "ad.twig" with { group_id: 2 } %}
          <div class="c-brochure c-article__popular-posts">
					  {% include "popular-posts.twig" %}
          </div>
				</aside>
				<!-- Author info -->
				{% set authors = post.get_field('authors') %}
				<div class="c-article__authors">
					<h2 class="c-label c-label--strong">About the {{ authors and authors|length > 1 ? 'Authors' : 'Author' }}</h2>
					<ul class="c-article__authors-list">
						{% if authors %}
							{% for author in authors %}
								<li class="c-article__author">
									{% if author.is_guest_author %}
										<div class="o-media c-article__author-header">
											<div class="o-media__image o-media__image--avatar c-article__author-avatar"></div>
											<div class="o-media__body">
												<h3 class="o-media c-article__author-name">{{author.guest_author.name|e('esc_html')}}</h3>
												{%- if author.guest_author.bio or author.guest_author.email -%}
													<p class="c-article__author-bio">
														{{ author.guest_author.bio|e('esc_html') }}
														{%- if author.guest_author.email -%}
															<a href="mailto:{{author.guest_author.email|e('html_attr')}}" class="c-article__author-link" aria-label="Email {{author.guest_author.email|e('html_attr')}}">Get in touch <i data-feather="arrow-right"></i></a>
														{%- endif -%}
													</p>
												{%- endif -%}
											</div>
										</div>
									{% else %}
										{% set staffAuthor = TimberUser(author.staff_author) %}
										<div class="o-media c-article__author-header">
											<div class="o-media__image o-media__image--avatar c-article__author-avatar">
												<img src="{{staffAuthor.avatar}}" alt="" class="c-article__author-image">
											</div>
											<div class="o-media__body">
												<h3 class="c-article__author-name">{{staffAuthor.name|e('esc_html')}}</h3>
												<p class="c-article__author-bio">
													{% if staffAuthor.description %}
														{{staffAuthor.description|excerpt(30)|e('esc_html')}}
													{% endif %}
													<a href="{{staffAuthor.link|e('esc_url')}}" class="c-article__author-link">More from {{staffAuthor.first_name|e('esc_html')}} <i data-feather="arrow-right"></i></a>
												</p>
											</div>
										</div>
									{% endif %}
								</li>
							{% endfor %}
						{% else %}
							<li class="c-article__author">
								<div class="o-media c-article__author-header">
									<div class="o-media__image o-media__image--avatar c-article__author-avatar">
										<img src="{{post.author.avatar}}" alt="" class="c-article__author-image">
									</div>
									<div class="o-media__body">
										<h3 class="c-article__author-name">{{post.author.name|e('esc_html')}}</h3>
										<p class="c-article__author-bio">
											{% if post.author.description %}
												{{post.author.description|excerpt(30)|e('esc_html')}}
											{% endif %}
											<a href="{{post.author.link|e('esc_url')}}" class="c-article__author-link">More from {{post.author.first_name|e('esc_html')}} <i data-feather="arrow-right"></i></a>
										</p>
									</div>
								</div>
							</li>
						{% endif %}
					</ul>
				</div>
				<!-- /Author info -->
				{% if post.tags %}
					<div class="c-article__tags">
						<h2 class="c-label c-label--strong">Read more coverage on:</h2>
						<ul class="c-article__tags-list">
							{% for tag in post.tags %}
								<li class="c-article__tags-item">
									<a href="{{tag.link|e('esc_url')}}" class="c-badge c-badge--secondary">{{tag.name}} <i data-feather="chevron-right"></i></a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</footer>
		</div>
		<!-- comment box -->
		<section class="c-article__comments" id="comments">
			<div class="o-container o-container--flush">
				<header class="c-article__comments-header">
					<h2 class="c-article__comments-heading">{{ post.comment_count }} {{ post.comment_count == 1 ? 'Comment' : 'Comments' }}</h2>
					{% if post.comment_status == "closed" %}
						<p class="c-label"><i data-feather="info"></i><span class="c-label__text">Comments for this article have closed. If you'd like to send a letter to the editor for publication, please email us at <a href="mailto:collegian@kenyon.edu">collegian@kenyon.edu</a>.</span></p>
					{% else %}
						<p class="c-label"><i data-feather="info"></i><span class="c-label__text">Comments are subject to review and moderation. We won't publish your email address or send you unsolicited emails.</span></p>
						<div class="c-article__comments-tools">
							<button type="button" class="c-button c-button--primary c-article__comments-button is-closed js-cmt-toggle" data-target="0-comment-form">
								<span class="c-button__icon"><i data-feather="message-square"></i></span>
								<span class="c-button__text">Leave a comment</span>
							</button>
							{% include "comment-form.twig" %}
						</div>
					{% endif %}
				</header>
				{% if post.comment_count %}
					<div class="c-article__comments-column">
						{% for cmt in post.comments %}
							{% include "comment.twig" with {comment:cmt} %}
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</section>
	</article>
{% endblock %}
