{% extends "single.twig" %}

{% block single_body %}
    <div class="c-article__body c-article__body--wysiwyg">
        <figure class="wp-caption">
            <img data-sizes="auto" class="c-article__cartoon lazyload" src="{{post.thumbnail.src|resize(320) }}" alt="{{post.thumbnail.alt|e('html_attr')}}" data-srcset="{{post.thumbnail.src|resize(480)}} 480w, {{post.thumbnail.src|resize(768)}} 768w, {{post.thumbnail.src|resize(1024)}} 1024w, {{post.thumbnail.src}} {{post.thumbnail.src.width}}w">
            <figcaption class="wp-caption-text">{{post.thumbnail.caption|e('esc_html')}}</figcaption>
        </figure>
    </div>
{% endblock single_body %}
