{% if post.thumbnail %}
    {% set classes = classes ?? [] %}
    {% set srcset_sizes = srcset_sizes ?? [ [1024, 576], [768, 432], [512, 288], [256, 144] ] %}
    {%- set srcset -%}
        {%- for size in srcset_sizes -%}
            {{ post.thumbnail.src|tojpg|resize(size[0], size[1]) }}?ver={{post.modified_time('U')}} {{ size[0] }}w,
        {%- endfor -%}
    {%- endset -%}

    <div class="{{ classes|merge(['o-thumbnail'])|join(' ') }}">
        {% if link %}
            <a href="{{post.link|e('esc_url')}}" class="o-thumbnail__object">
        {% endif %}
        <img data-sizes="auto" data-srcset="{{ srcset|e('html_attr') }}" alt="{{ post.title|e('html_attr') }}" class="o-thumbnail__object lazyload">
        {% if link %}
            </a>
        {% endif %}
    </div>
{% endif %}
