{% set classes = classes ?? [] %}

{% if icon %}
    <i data-feather="clock"></i>
{% endif %}
<time datetime="{{ post.date('c') }}" class="{{ classes|merge(['o-timestamp'])|join(' ') }}">
    {% if date_format == 'relative' %}
        {{ post.date('c')|format_relative_timestamp }}
    {% elseif date_format is not same as(null) %}
        {{ post.date(date_format) }}
    {% else %}
        {{ post.date }}
    {% endif %}
</time>
{% if show_comments %}
    <a href="{{ post.link ~ '#comments'|e('esc_url') }}" class="o-timestamp__comment-count">
        <i data-feather="message-square"></i>{{ post.comment_count }}
        {% if show_comments == 'condensed' %}
            <span class="u-visibly-hidden">{{ post.comment_count == 1 ? 'Comment' : 'Comments' }}</span>
        {% else %}
            {{ post.comment_count == 1 ? 'Comment' : 'Comments' }}
        {% endif %}
    </a>
{% endif %}
