html {
  box-sizing: border-box;
  color: $c-grey-900;
  font-family: $ff-serif;
  height: 100%;
  overflow-y: scroll;
  
  &.has-header-drawer-open {
    overflow-y: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $c-grey-100;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &.error404 {
    background: $c-brand-400;
    background: linear-gradient(-45deg, $c-brand-400, adjust-color($color: $c-brand-400, $hue: 6, $saturation: 15%, $lightness: -10%));
  }
}

ul,
ol,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  
  &[data-sizes="auto"] {
    display: block;
    width: 100%;
  }
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  text-decoration-skip: ink;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  padding: 0;
  margin: 0;
}
