// Spacing
$sp-0: 0;
$sp-xs: .25rem;
$sp-sm: .5rem;
$sp-md: 1rem;
$sp-lg: 1.5rem;
$sp-xl: 2.5rem;
$sp-xxl: 4rem;
$sp-xxxl: 6.5rem;

// Borders
$bdr-thin: 1px;
$bdr-md: 2px;
$bdr-thick: 8px;
$bdr-radius: 2px;

// Colors
$c-white: #FFF;
$c-black: #000;

$c-grey-100: #F5F5F9;
$c-grey-200: #D7DAE2;
$c-grey-300: #707594;
$c-grey-400: #4F536A;
$c-grey-700: #313440;
$c-grey-900: #0E1112;

$c-brand-100: #E4E3F3;
$c-brand-200: #CCCBDD;
$c-brand-300: #726AA9;
$c-brand-400: #4B2E84;
$c-brand-700: #2A183A;
$c-brand-900: #1B0A2B;

$c-success-100: #D4EACE;
$c-success-400: #93C287;
$c-success-700: #29511E;

$c-warning-100: #FFE9A1;
$c-warning-400: #F3CA40;
$c-warning-700: #694002;
$c-warning-700a75: transparentize($c-warning-700, 0.25);

$c-error-100: #F7C0B8;
$c-error-400: #E94444;
$c-error-700: #350703;

$c-info-100: #D2E0F5;
$c-info-300: #78ADFD;
$c-info-400: #3037D3;
$c-info-700: #06234F;

$c-glass-400: transparentize($c-white, 0.33);

// Shadows
$shad-1dp:  0 0 2px transparentize($c-black, 0.86),
            0 2px 2px transparentize($c-black, 0.88),
            0 1px 3px transparentize($c-black, 0.8);
$shad-2dp:  0 0 4px transparentize($c-black, 0.86),
            0 3px 4px transparentize($c-black, 0.88),
            0 1px 5px transparentize($c-black, 0.8);
$shad-4dp:  0 2px 4px transparentize($c-black, 0.86),
            0 4px 5px transparentize($c-black, 0.88),
            0 1px 10px transparentize($c-black, 0.8);
$shad-6dp:  0 6px 10px transparentize($c-black, 0.86),
            0 1px 18px transparentize($c-black, 0.88),
            0 3px 5px transparentize($c-black, 0.8);
$shad-8dp:  0 8px 10px 1px transparentize($c-black, 0.86),
            0 3px 14px 2px transparentize($c-black, 0.88),
            0 5px 5px -3px transparentize($c-black, 0.6);
$shad-12dp: 0 12px 17px 2px transparentize($c-black, 0.86),
            0 5px 22px 4px transparentize($c-black, 0.88),
            0 7px 8px transparentize($c-black, 0.8);
$shad-1dp-inset:  inset 0 0 2px transparentize($c-black, 0.86),
                  inset 0 2px 2px transparentize($c-black, 0.88),
                  inset 0 1px 3px transparentize($c-black, 0.8);
$shad-2dp-inset:  inset 0 0 4px transparentize($c-black, 0.86),
                  inset 0 3px 4px transparentize($c-black, 0.88),
                  inset 0 1px 5px transparentize($c-black, 0.8);

// Font stacks
$ff-sans: 'Chivo',
          -apple-system, BlinkMacSystemFont,
          'avenir next', avenir,
          'helvetica neue', helvetica,
          ubuntu,
          roboto, noto,
          'segoe ui', arial,
          sans-serif;

$ff-serif: Georgia,
           Times,
           serif;

$ff-disp: 'Libre Baskerville',
          $ff-serif;

// Layout
$l-max-width: 41rem;
$l-max-width-lg: 72rem;
$l-gutters: 24px;
$l-gutters-md: 32px;
$l-columns: 12;

// Media queries
$mq-breakpoints: (
  xs: 320px,
  sm: 420px,
  md: 720px,
  lg: 980px,
  xl: 1120px
);

// Transition speed
$mv-fast: 200ms;
$mv-slow: 360ms;
$mv-slower: 500ms;

// Easing
$linear         : cubic-bezier(0.250, 0.250, 0.750, 0.750);
$ease           : cubic-bezier(0.250, 0.100, 0.250, 1.000);
$ease-in        : cubic-bezier(0.420, 0.000, 1.000, 1.000);
$ease-out       : cubic-bezier(0.000, 0.000, 0.580, 1.000);
$ease-in-out    : cubic-bezier(0.420, 0.000, 0.580, 1.000);

$easeInQuad     : cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeInCubic    : cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeInQuart    : cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeInQuint    : cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeInSine     : cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeInExpo     : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInCirc     : cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeInBack     : cubic-bezier(0.600, -0.280, 0.735, 0.045);

$easeOutQuad    : cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeOutCubic   : cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeOutQuart   : cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeOutQuint   : cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeOutSine    : cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeOutExpo    : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeOutCirc    : cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeOutBack    : cubic-bezier(0.175, 0.885, 0.320, 1.275);

$easeInOutQuad  : cubic-bezier(0.455, 0.030, 0.515, 0.955);
$easeInOutCubic : cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInOutQuart : cubic-bezier(0.770, 0.000, 0.175, 1.000);
$easeInOutQuint : cubic-bezier(0.860, 0.000, 0.070, 1.000);
$easeInOutSine  : cubic-bezier(0.445, 0.050, 0.550, 0.950);
$easeInOutExpo  : cubic-bezier(1.000, 0.000, 0.000, 1.000);
$easeInOutCirc  : cubic-bezier(0.785, 0.135, 0.150, 0.860);
$easeInOutBack  : cubic-bezier(0.680, -0.550, 0.265, 1.550);
