.c-404-splash {
  background-color: transparent;
  color: $c-white;
  padding: $sp-xl 0;
  text-align: center;
  margin-bottom: 0;

  @include mq($from: lg) {
    text-align: left;
    padding: $sp-xxl 0;
  }
}

.c-404-splash__column {
  align-self: flex-start;
  @include mq($until: md) {
    padding: 0 $sp-lg;

  }
  @include mq($until: lg) {
    & + & {
      margin-top: $sp-xl;
    }
  }
}

.c-404-splash__heading {
  font-size: 7.5rem;
  line-height: 1;
  font-family: $ff-sans;
  font-weight: 900;
  word-break: break-word;
}

.c-404-splash__subheading {
  @include fontsize(base);
  margin: $sp-sm auto 0;
  color: $c-brand-100;
  font-style: italic;
  max-width: 30em;

  a {
    color: $c-white;
    padding-bottom: $sp-xs;
    border-bottom: $bdr-md $c-brand-300 solid;
    transition: $mv-fast border-color linear;

    &:hover,
    &:active,
    &:focus {
      border-color: $c-white;
    }
  }

  @include mq($from: lg) {
    margin-left: 0;
  }
}

.c-404-splash__searchbar {
  width: 100%;
}

.c-404-splash__search-suggestions {
  margin: ($sp-md - $sp-xs) (-1 * $sp-xs) (-1 * $sp-xs);
  font-size: 0;
}

.c-404-splash__search-suggestion {
  display: inline-block;
  padding: $sp-xs;
}
