.c-ad {
  background-color: $c-grey-100;
  border: $bdr-thin $c-grey-200 solid;
  padding: $sp-md;
  font-family: $ff-sans;
  text-align: center;
}

.c-ad__body {
  display: flex;
  justify-content: center;
  margin-top: $sp-md;

  > * {
    background-color: $c-grey-200;
  }

  img {
    display: block;
  }
}
