.c-alert-banner {
  @include fontsize(base);
  font-family: $ff-sans;
  background-color: $c-error-400;
  color: $c-white;
  box-shadow: inset 0 1px 4px transparentize($c-brand-900, 0.8);
}

.c-alert-banner__container {
  align-items: center;
  position: relative;
  padding: $sp-lg;

  @include mq($from: lg) {
    display: flex;
    padding-right: $sp-sm;
  }
}

.c-alert-banner__body {
  flex: 1 1 auto;

  // To avoid text running into the close button when it's absolutely positioned,
  // the banner body leaves space to the right equal to the button's width.
  @include mq($until: lg) {
    margin-right: 2.5rem; /* 1 */
  }
}

.c-alert-banner__heading {
  @include fontsize(sm);
  color: $c-error-100;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: $sp-xs;
  font-weight: 400;
}

.c-alert-banner__content {
  @include mq($until: lg) {
    margin-bottom: $sp-lg;
  }
}

.c-alert-banner__buttons {
  flex: 0 0 auto;
}

.c-alert-banner__button,
.c-alert-banner__close {
  &:hover,
  &:active,
  &:focus {
    opacity: 0.8;
  }
}

.c-alert-banner__button--twitter {
  border: $bdr-thin currentColor solid;
}

.c-alert-banner__button--read-more {
  background-color: $c-white;
  color: $c-error-400;
  font-weight: 700;
}

.c-alert-banner__close {
  flex: 0 0 auto;
  position: absolute;
  z-index: 2;
  right: 8px;
  top: 8px;
  font-size: 24px;

  @include mq($from: md) {
    right: $sp-lg - $sp-md;
  }

  @include mq($from: lg) {
    position: static;
  }
}

.c-alert-banner__buttons,
.c-alert-banner__close {
  @include mq($from: lg) {
    margin-left: $sp-md;
  }
}

.c-alert-banner.is-closed {
  visibility: hidden;
  display: none;
}
