.c-article {
  background-color: $c-white;
}

.c-article__header {
  padding-top: $sp-xl;

  @include mq($from: md) {
    padding-top: $sp-xxl;
  }
}

.c-article__metabar {
  margin-top: $sp-md;
  border-top: $bdr-thin $c-grey-200 solid;
  border-bottom: $bdr-thin $c-grey-200 solid;
  padding: $sp-md 0;
}

.c-article__comment-link {
  margin-left: auto;

  @include mq($until: 600px) {
    display: none;
  }
}

.c-article__layout {
  margin: 0 auto;
  max-width: $l-max-width-lg;
  background-color: $c-white;

  @include mq($from: lg) {
    display: flex;
    padding: 0 $sp-lg;
  }
}

.c-article__content {
  @include mq($from: lg) {
    padding-right: $sp-lg;
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.c-article__info {
  @include mq($from: lg) {
    display: flex;
    flex-direction: column;
    padding-left: $sp-lg;
    margin: $sp-xl 0;
  }
}

.c-article__hero {
  box-shadow: $shad-1dp;

  @include mq($from: lg) {
    margin-top: $sp-xl;
  }
}

.c-article__hero-caption {
  @include fontsize(sm);
  font-style: italic;
  color: $c-grey-300;
  margin: $sp-sm auto 0;

  em {
    font-style: normal;
  }

  @include mq($until: lg) {
    max-width: 41rem;
    padding: 0 $sp-lg;
  }
}

.c-article__share-tools {
  color: $c-grey-300;

  @include mq($until: lg) {
    background-color: $c-white;
    border-top: $bdr-thin $c-grey-200 solid;
    box-shadow: $shad-8dp;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $sp-sm 0;
    z-index: 5;

    &.is-unpinned {
      transform: translateY(100%);
      transition: $mv-slow transform $easeInSine;
    }

    &.is-pinned {
      transform: translateY(0);
      transition: $mv-slow transform $easeOutSine;
    }
  }

  @include mq($from: lg) {
    margin-top: $sp-xl;
    float: left;
    width: 48px;
    padding: 0;
  };
}

.c-article__share-label {
  line-height: 16px;
  text-align: center;
  font-weight: 400;

  @include mq($from: lg) {
    line-height: 32px;
  }
}

.c-article__share-container {
  @include mq($until: lg) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include mq($from: lg) {
    padding: 0;
  };
}

.c-article__share-links {
  display: flex;
  padding-left: $sp-lg;

  @include mq($from: lg) {
    padding-top: $sp-md;
    padding-left: 0;
    display: block;
  };
}

.c-article__share-item {
  flex: 0 1 auto;

  & + & {
    margin-left: $sp-md;

    @include mq($from: lg) {
      margin-left: 0;
      margin-top: $sp-md;
    };
  }
}

.c-article__share-link {
  padding: 0;
  width: 32px;
  height: 32px;

  @include mq($from: lg) {
    width: 48px;
    height: 48px;
    border: $bdr-thin $c-grey-200 solid;
  }
}

.c-article__body {
  @include fontsize(body);
  padding: $sp-lg $sp-lg $sp-xl;
  margin: 0 auto;
  max-width: 41rem;

  @include mq($from: lg) {
    padding: $sp-xl 0;

    @at-root .c-article--post & {
      margin-left: $sp-lg + $sp-xxl;
    }
  };
}

.c-article__body--wysiwyg {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $ff-sans;
  }

  h1,
  h2,
  h3 {
    margin-top: $sp-xl;
  }

  h4,
  h5,
  h6 {
    margin-top: $sp-lg;
  }

  p,
  ol,
  ul,
  dl,
  .wp-caption {
    margin-top: $sp-md;

    @include mq($from: md) {
      margin-top: 1.25rem;
    }

  }

  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p {
    margin-top: $sp-sm;
  }

  a {
    color: $c-info-400;
    border-bottom: $bdr-md $c-info-100 solid;
    transition: $mv-fast border-color linear;
    word-break: break-word;

    &:hover,
    &:active,
    &:focus {
      border-color: $c-info-400;
    }
  }

  > *:first-child {
    margin-top: 0;
  }

  h1 {
    @include fontsize(1);
  }

  h2 {
    @include fontsize(2);
  }

  h3 {
    @include fontsize(3);
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }

  h4 {
    @include fontsize(4);
    border-bottom: $bdr-thin $c-grey-200 solid;
    padding-bottom: $sp-sm;
  }

  h5 {
    @include fontsize(base);
  }

  h6 {
    @include fontsize(sm);
  }

  hr {
    margin: $sp-xl 0;
    clear: both;

    & + * {
      margin-top: 0;
    }
  }

  .c-article__resp-video {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      border: 0;
      width: 100%;
      height: 100%;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: $sp-lg 0;
  }

  .alignnone {
    margin: $sp-lg auto;
  }

  @include mq($from: md) {
    .alignleft,
    .alignright {
      width: auto;
      margin-bottom: $sp-md;
    }

    .alignleft {
      float: left;
      margin-right: $sp-lg;
    }

    .alignright {
      float: right;
      margin-left: $sp-lg;
    }
  };

  .wp-caption {
    max-width: 100%;

    img {
      margin: 0 0 $sp-sm;
    }
  }

  .wp-caption + .wp-caption {
    margin-top: $sp-lg;
  }

  .wp-caption-text {
    @include fontsize(sm);
    font-style: italic;
    color: $c-grey-300;

    em {
      font-style: normal;
    }
  }
}

.c-article__cartoon {
  box-shadow: $shad-1dp;
}

.c-article__sidebar {
  margin-bottom: auto;

  > * + * {
    margin-top: $sp-xl;
  }
}

.c-article__popular-posts {
  @include mq($until: lg) {
    display: none;
  }
}

.c-article__tags {
  margin-top: $sp-xl;
  padding-top: $sp-sm;
  border-top: $bdr-thin $c-brand-300 solid;

  @include mq($until: lg) {
    margin: $sp-xl $sp-lg;
  }
}

.c-article__tags-list {
  font-size: 0;
  margin: ($sp-sm + $sp-xs) (-1 * $sp-xs) (-1 * $sp-xs);
}

.c-article__tags-item {
  display: inline-block;
  vertical-align: middle;
  padding: $sp-xs;
}

.c-article__comments {
  padding: $sp-xl 0;
  background-color: $c-grey-100;
}

.c-article__comments-column,
.c-article__comments-header {
  max-width: $l-max-width;

  @include mq($from: lg) {
    margin-left: $sp-xxl + $sp-lg;
  }
}

.c-article__comments-header {
  padding: 0 $sp-lg;
}

.c-article__comments-tools {
  margin-top: $sp-md;
}

.c-article__comments-button {
  display: none;

  &.is-closed {
    display: inline-flex;
  }
}

.c-article__comments-heading {
  @include fontsize(3);
  font-family: $ff-sans;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.c-article__comments-column {
  background-color: $c-white;
  margin-top: $sp-lg;
}

.c-article__sidebar,
.c-article__authors {
  @include mq($until: lg) {
    margin-left: $sp-lg;
    margin-right: $sp-lg;
  }
}

.c-article__authors {
  margin-top: $sp-xxl;
  padding-top: $sp-sm;
  border-top: $bdr-thin $c-brand-300 solid;

  @include mq($until: lg) {
    margin-top: $sp-md;
    margin-bottom: $sp-xl;
  }
}

.c-article__author {
  padding: $sp-md 0;
  border-bottom: $bdr-thin $c-grey-200 solid;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.c-article__author-avatar {
  margin-right: $sp-md;
  height: 32px;
  width: 32px;
}

.c-article__author-name {
  @include fontsize(4);
  font-family: $ff-sans;
  margin-top: -0.25rem;
}

.c-article__author-bio {
  @include fontsize(sm);
  color: $c-grey-400;
  font-style: italic;
  margin-top: $sp-xs;
}

.c-article__author-link {
  display: inline-flex;
  align-items: center;
  font-family: $ff-sans;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 0.9em;
  font-weight: 700;
  font-style: normal;
  color: $c-info-400;
  border-bottom: $bdr-md $c-info-100 solid;
  transition: $mv-fast border-color linear;

  &:hover,
  &:active,
  &:focus {
    border-color: $c-info-400;
  }

  .c-icon {
    height: 1em;
    width: auto;
    margin-left: $sp-xs;
    stroke-width: 3;
  }
}
