.c-badge {
  @include fontsize(sm);
  display: inline-block;
  padding: $sp-xs $sp-sm;
  font-family: $ff-sans;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  border-radius: $bdr-radius;
}

.c-badge--primary {
  background-color: $c-brand-400;
  color: #fff;
}

.c-badge--secondary {
  background-color: $c-brand-100;
  color: $c-brand-400;
}

.c-badge--muted {
  border: $bdr-thin $c-grey-200 solid;
  color: $c-grey-300;
}

.c-badge--small {
  @include fontsize(xs);
  padding: 0 $sp-xs;
}
