.c-brochure {
  @include mq($until: md) {
    box-shadow: $shad-2dp;
    margin-bottom: $sp-md;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.c-brochure--author-bio {
  margin-bottom: $sp-xl;

  @include mq($until: lg) {
    margin-bottom: 0;
    margin-top: $sp-md;
  }

  @include mq($from: md, $until: lg) {
    margin-top: $sp-xl;
  }

  p {
    @include fontsize(base);
    max-width: 30em;
  }
}

.c-brochure__heading {
  @include fontsize(base);
  line-height: 1;
  background-color: $c-white;    
  font-weight: 700;
  font-family: $ff-sans;
  padding: $sp-md $sp-lg;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  border-top: $bdr-md $c-brand-400 solid;
  border-bottom: $bdr-thin $c-grey-200 solid;
  
  @include mq($from: md) {
    padding: $sp-sm 0 0;
    margin-bottom: $sp-lg;
    border-bottom: 0;
  };
}

.c-brochure__item {
  background-color: $c-white;  
  padding: $sp-lg;
  border-bottom: $bdr-thin $c-grey-200 solid;

  &:last-child {
    border-bottom: 0;
  }

  @include mq($from: md) {
    padding: 0 0 $sp-lg;
    margin-bottom: $sp-lg;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;   
    }
  }

  &::before,
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
