.c-button {
  font-family: $ff-sans;
  border-radius: $bdr-radius;
  display: inline-flex;
}

.c-button--primary {
  background-color: $c-brand-400;
  color: $c-white;
  font-weight: 700;

  &:hover,
  &:active,
  &:focus {
    background-color: $c-brand-300;
  }
}

.c-button--round {
  border-radius: 50%;
}

.c-button,
.c-button__text,
.c-button__icon {
  padding: $sp-sm;
  align-items: center;
  justify-content: center;
}

.c-button--slim {
  &,
  & .c-button__text,
  & .c-button__icon {
    padding: $sp-xs;
  }
}

.c-button--flat {
  padding: 0;

  .c-button__text,
  .c-button__icon {
    padding: 0;
  }

  .c-button__icon + .c-button__text,
  .c-button__text + .c-button__icon {
    padding-left: $sp-sm;
  }
}

.c-button--comments {
  color: $c-brand-400;

  &:hover,
  &:active,
  &:focus {
    .c-icon {
      fill: $c-brand-400;
    }
  }

  .c-button__text,
  .c-button__icon {
    font-size: inherit;
    line-height: inherit;
  }
}

.c-button__text,
.c-button__icon {
  font-size: 1rem;
  line-height: 1;
  display: flex;
}

.c-button--large .c-button__text,
.c-button--large .c-button__icon,
.c-button__text--large,
.c-button__icon--large {
  font-size: 2rem;
}

.c-button--black {
  background-color: $c-grey-900;
  color: $c-white;

  &:hover,
  &:active,
  &:focus {
    background-color: $c-grey-400;
  }
}
