.c-comment {
  background-color: $c-white;
  border-top: $bdr-thin $c-grey-200 solid;
  
  .c-comment {
    .c-comment__container {
      margin-left: $sp-lg;
    }
    
    .c-comment__content,
    .c-comment__tools {
      margin-top: $sp-sm;
    }
    
    .c-comment__content {
      @include fontsize(base);
    }
  }
}

.c-article__comments-column > .c-comment {
  border-top: $bdr-md $c-grey-900 solid;
}

.c-comment__container {
  padding: $sp-lg;
}

.c-comment__header,
.c-comment__tools {
  @include fontsize(sm);
  color: $c-grey-300;
  font-family: $ff-sans;
}

.c-comment__author {
  @include fontsize(4);
  font-weight: 700;
  color: $c-grey-700;
}

.c-comment__content,
.c-comment__tools {
  margin-top: $sp-md;
}

.c-comment__content {
  @include fontsize(body);

  a {
    color: $c-info-400;
    border-bottom: $bdr-md $c-info-100 solid;
    transition: $mv-fast border-color linear;

    &:hover,
    &:active,
    &:focus {
      border-color: $c-info-400;
    }
  }

  p + p {
    margin-top: $sp-md;
  }
}

.c-comment__handle {
  font-family: $ff-sans;
  font-weight: 700;
  padding-right: $sp-sm;
}

.c-comment__handle,
.c-comment__author {
  word-break: break-word;
}
