.c-comment-form {
  font-family: $ff-sans;
  position: relative;
  background-color: $c-grey-100;

  &.is-closed {
    display: none;
  }
}

.c-comment .c-comment-form {
  border-top: $bdr-thin $c-grey-200 solid;
  padding: $sp-lg;

  .c-comment-form__toggle {
    right: 0.5rem;
    top: 0.5rem;
  }
}

.c-comment__replies .c-comment-form {
  padding-left: $sp-lg * 2;
}

.c-comment-form__toggle {
  position: absolute;
  right: -1rem;
  top: -1rem;
}

.c-comment-form__fieldgroup,
.c-comment-form__buttons {
  margin-top: $sp-md;

  &:first-child {
    padding-top: 0;
  }
}

.c-comment-form__field {
  width: 100%;
}

.c-comment-form__label {
  display: block;
  margin-bottom: $sp-sm;
}

.c-comment-form__help {
  margin-top: $sp-sm;
}
