.c-drawer {
  @include fontsize(base);
  font-family: $ff-sans;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  background-color: transparentize($c-black, 0.8);
  transition: $mv-fast background-color linear;

  &.is-closed {
    transform: translateX(-100%);
    visibility: hidden;
    background-color: transparent;
    transition: $mv-fast background-color linear,
                0s visibility linear $mv-fast,
                0s transform linear $mv-slow;

    .c-drawer__nav {
      transform: translateX(-100%);
    }
  }
}

.c-drawer__nav {
  flex: 0 1 auto;
  width: 280px;
  background-color: $c-white;
  box-shadow: $shad-8dp;
  transition: $mv-slow transform $easeInOutSine;
  overflow-x: hidden;
  overflow-y: auto;
  color: $c-grey-700;
  padding-bottom: $sp-lg;
}

.c-drawer__topper {
  display: block;
  padding: $sp-md $sp-lg;
  border-bottom: $bdr-thick $c-brand-300 solid;
}

.c-drawer__logo {
  display: block;
  max-height: 32px;
  margin: 0 auto;
  fill: $c-grey-700;
}

.c-drawer__label {
  @include fontsize(xs);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: $c-grey-300;
  padding: $sp-lg $sp-lg $sp-sm;
  border-bottom: $bdr-thin $c-grey-200 solid;
}

.c-drawer__nav-link {
  display: block;
  padding: $sp-sm $sp-lg;

  &:hover,
  &:active,
  &:focus {
    background-color: $c-grey-100;
    text-decoration: underline;
  }
}

.c-drawer__shadow {
  flex: 1 auto;
  min-width: 40px;
}
