.c-empty-state {
  padding: $sp-xxl $sp-lg;
  background-color: $c-white;
  text-align: center;
}

.c-empty-state__jumbo {
  @include fontsize(2);
  font-weight: 900;
  font-family: $ff-sans;
}

.c-empty-state__blurb {
  @include fontsize(base);
  color: $c-grey-400;
  font-style: italic;
  max-width: 26rem;
  margin: $sp-sm auto 0;
}
