.c-field {
  @include fontsize(base);
  font-family: $ff-sans;
  border: $bdr-thin $c-grey-200 solid;
  padding: $sp-sm $sp-md;
  max-width: 100%;
  display: block;
  border-radius: $bdr-radius;
  transition: $mv-fast box-shadow $easeOutSine,
              $mv-fast background-color linear,
              $mv-fast border-color linear;

  &:focus {
    outline: 0;
    box-shadow: $shad-2dp;
    background-color: $c-white;
    border-color: transparent;
  }
}

.c-field--text {
  line-height: 1;
}

.c-field--textarea {
  padding: $sp-md;
}
