.c-footer {
  @include fontsize(base);
  color: $c-grey-700;
  background-color: $c-white;
  font-family: $ff-sans;
}

.c-footer__ribbon {
  border-top: $bdr-thick $c-brand-300 solid;
  border-bottom: $bdr-thin $c-grey-200 solid;
}

.c-footer__ribbon-inner {
  display: flex;
  padding: $sp-lg;
}

.c-footer__logo {
  fill: $c-grey-900;
  height: 40px;
  display: block;
}

.c-footer__fine-print {
  @include fontsize(sm);
  background-color: $c-grey-100;
  color: $c-grey-400;
}

.c-footer__fine-print-inner {
  padding: $sp-md $sp-lg;
  text-align: center;

  @include mq($from: sm) {
    display: flex;
    text-align: inherit;
  }
}

.c-footer__copyright {
  margin-bottom: $sp-sm;

  @include mq($from: sm) {
    margin-bottom: 0;
    margin-right: auto;
  };
}

.c-footer__nav-list {
  padding: $sp-lg 0 $sp-xl;

  @include mq($from: md) {
    display: flex;
  }

  @include mq($until: lg) {
    justify-content: center;
  }
}

.c-footer__nav-column {
  flex: 0 1 auto;
  padding-bottom: $sp-md;
  border-bottom: $bdr-thin $c-grey-200 solid;
  margin: 0 $sp-lg $sp-md;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  @include mq($from: md) {
    padding: 0 $sp-lg;
    border-bottom: 0;
    margin: 0;
    padding: 0 $sp-lg;
  };

  @include mq($from: lg) {
    flex: 1 auto;
  }
}

.c-footer__nav-subitems {
  display: none;

  @include mq($from: lg) {
    display: block;
  }
}

.c-footer__subitem {
  padding-top: $sp-sm;
}

.c-footer__nav-link,
.c-footer__privacy-link {
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
    color: $c-grey-900;
  }
}

.c-footer__nav-link--strong {
  font-weight: 700;
  color: $c-grey-900;
}

.c-footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $sp-xl;
}

.c-footer__social-item {
  margin: 0 $sp-sm;
}

.c-footer__social-link {
  border: $bdr-thin $c-grey-200 solid;

  &:hover,
  &:active,
  &:focus {
    border-color: currentColor;
  }
}
