.c-header {
  background-color: $c-white;  
  font-family: $ff-sans;
  font-size: 16px;
  text-align: center;
  color: $c-grey-900;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: $mv-slow box-shadow $easeInOutSine;

  &.is-not-top {
    box-shadow: $shad-4dp;
  }

  &.is-unpinned {
    transform: translateY(-100%);
    transition: $mv-slow transform $easeInSine,
                $mv-slow box-shadow $easeInOutSine;
  }

  &.is-pinned {
    transform: translateY(0);
    transition: $mv-slow transform $easeOutSine,
                $mv-slow box-shadow $easeInOutSine;
  }

  @at-root .has-header-search-open & {
    color: $c-grey-300;
  }

  @at-root .admin-bar & {
    @include mq($from: 782px) {
      top: 32px;
    };
    
    &.is-top {
      @include mq($until: 782px) {
        top: 46px;
      }
    }
  }
}

.c-header__container {
  padding: 0 8px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: $l-max-width-lg;
  position: relative;
  z-index: 105;

  @include mq($from: ($l-max-width-lg / 1rem * 16px) + 112px) {
    max-width: 100%;
  }
}

.c-header__float {
  flex: 1 auto;
  order: 2;
  display: flex;
  align-items: center;
  transition: $mv-fast opacity linear 280ms;

  @at-root .has-header-search-open & {
    transition: $mv-fast opacity linear;
    opacity: 0;
  }
}

.c-header__logo-container {
  flex: 0 1 auto;
  margin: 0 auto;
  padding: $sp-md 0;

  @include mq($from: 768px) {
    margin-left: 0;
  }
}

.c-header__logo-link {
  display: block;
}

.c-header__button {
  &:hover,
  &:active,
  &:focus {
    background-color: $c-grey-100;
  }
}

.c-header__logo {
  height: 32px;
  max-width: 100%;
  display: block;
  fill: currentColor;
}

.c-header__button {
  flex: 0 0 auto;
}

.c-header__button,
.c-header__icon {
  padding: 8px;
}

.c-header__button--menu {
  order: 1;
  position: relative;
  z-index: 200;
}

.c-header__button--search {
  order: 3;

  .feather-search {
    display: none;
  }

  .feather-x {
    display: block;
  }
  
  &.is-closed {
    .feather-x {
      display: none;
    }

    .feather-search {
      display: block;
    }
  }
}

.c-header__nav {
  display: none;
  visibility: hidden;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  align-self: stretch;
  color: $c-grey-300;

  @include mq($from: 768px) {
    display: block;
    visibility: visible;
  }
}

.c-header__nav-items {
  display: flex;
  height: 100%;
}

.c-header__nav-item {
  font-size: 14px;
  line-height: 16px;
  
  & + & {
    margin-left: $sp-lg;
  }
  
  &.current-menu-item {
    color: $c-grey-900;
    font-weight: 700;
  }
}

.c-header__nav-link {
  display: inline-block;
  line-height: 64px;
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: transparent;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: $mv-fast transform $easeInOutQuad;
  }

  @at-root .c-header__nav-item.current-menu-item &::after {
      background-color: $c-brand-400;
      transform: scaleY(1);
    }

  @at-root .c-header__nav-item:not(.current-menu-item) &:hover,
  .c-header__nav-item:not(.current-menu-item) &:active,
  .c-header__nav-item:not(.current-menu-item) &:focus {
    color: $c-grey-700;
    
    &::after {
      background-color: $c-grey-200;
      transform: scaleY(1);
    }
  }
}

.c-header__search-form {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 110;
  transform: translateY(0);
  transition: $mv-slow transform $easeOutCirc 144ms;
  padding: $sp-sm $sp-md;
  margin: 0 3rem;
  
  &.is-closed {
    visibility: hidden;
    transition: 0s visibility linear $mv-slow,
                $mv-slow transform $easeInCirc;
    transform: translateY(-100%);
  }
}
