.c-button .c-icon,
.c-label .c-icon {
  height: 1em;
  width: 1em;
  flex: 0 0 auto;
  display: inline-block;
}

.c-label .c-icon {
  vertical-align: middle;
}

.c-badge .c-icon,
.c-comment__handle .c-icon {
  height: 1rem;
  width: auto;
  display: inline-block;
  vertical-align: text-top;
}

