.c-imax {
  position: relative;
  overflow: hidden;
}

.c-imax--jumbo {
  .c-imax__image {
    &::before {
      @include mq($from: md) {
        padding-top: 42.55%;
      }
    }
  }

  .c-imax__headline {
    @include fontsize(3);
    
    @include mq($until: sm) {
      @include fontsize(base);
    }
    
    @include mq($from: lg) {
      @include fontsize(2);
    }
  }
}

.c-imax__body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 $sp-lg $sp-lg;
  text-shadow: $shad-2dp;
  background: linear-gradient(transparent, transparentize($c-black, 0.6) 66.67%, transparentize($c-black, 0.33));
  z-index: 2;
}

.c-imax__headline {
  @include fontsize(sm);
}

.c-imax__headline {
  a {
    position: relative;
    z-index: 4;
    color: $c-white;
  }
}

.c-imax__faux-link {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.c-vertical__imax .c-imax__image {
  @include mq($from: lg) {
    &::before {
      padding-top: 100%;
    }
  }
}
