.c-label {
  @include fontsize(sm);
  font-family: $ff-sans;
  color: $c-grey-400;
  font-weight: 400;

  a {
    color: $c-info-400;
    border-bottom: $bdr-md $c-info-100 solid;
    transition: $mv-fast border-color linear;

    &:hover,
    &:active,
    &:focus {
      border-color: $c-info-400;
    }
  }
}

.c-label--strong {
  @include fontsize(xs);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.c-label--breadcrumb {
  text-transform: uppercase;
  letter-spacing: 0.04em;
  display: inline-block;
  margin-bottom: $sp-md;
}

.c-icon ~ .c-label__text {
  padding-left: $sp-sm;
  vertical-align: middle;
}

.c-label--help {
  @include fontsize(xs);
}
