.c-module__item + .c-module__item {
  margin-top: $sp-md;
}

.c-module--cover-story {
  border-bottom: 1px $c-grey-200 solid;
  margin-bottom: $sp-md;
}

.c-module--latest-news {

  .o-story__timestamp {
    margin-bottom: 0;
  }
}

.c-module--featured-stories {

  .o-story__thumbnail {
    margin: 0 (-1 * $sp-md) $sp-md;
  }

  .c-module__item:first-child {
    @include mq($from: md) {
      .o-story__thumbnail {
        margin: 0 0 $sp-md;
      }
    };
  }

  .c-module__item + .c-module__item {
    margin-top: $sp-lg;

    .o-story__title {
      @include fontsize(sm);
    }

    .o-story__kicker {
      @include fontsize(xs);
    }

    .o-story__timestamp {
      margin-bottom: 0;
    }

    @include mq($from: sm) {
      width: 50%;

      .o-story__thumbnail {
        margin: 0 0 $sp-md;
      }
    };
  }
}

.c-module--latest-stories {
  .c-module__item:first-child {
    .o-story {
      border-bottom: $bdr-thin $c-grey-200 solid;
    }

    .o-story__thumbnail {
      margin: 0 0 $sp-md;
    }

    @include mq($from: md, $until: lg) {
      width: 50%;
      float: left;
    };
  }

  .c-module__item + .c-module__item {
    .o-story__timestamp {
      margin-bottom: 0;
    }

    @include mq($from: 560px, $until: lg) {
      width: 50%;
      float: right;
    };
  }
}
