.c-page-header {
  font-family: $ff-sans;
  padding: $sp-xl 0 $sp-xl;
  background-color: $c-grey-100;
}

.c-page-header__heading {
  @include fontsize(xxl);
  font-weight: 900;

  @include mq($from: md) {
    @include fontsize(xxxl);
  }
}

.c-page-header__heading--tag,
.c-page-header__heading--author {
  @include fontsize(2);

  @include mq($from: md) {
    @include fontsize(1);
  }
}

.c-page-header__heading--tag,
.c-page-header__kicker,
.c-page-header__submenu,
.c-page-header__breadcrumb {
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.c-page-header__kicker {
  @include fontsize(sm);
  display: block;
  font-weight: 400;
  color: $c-grey-400;
}

.c-page-header__page-count {
  @include fontsize(4);
  display: inline-block;
  vertical-align: middle;
  margin-left: $sp-sm;
  color: $c-grey-400;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.c-page-header__profile {
  width: 96px;
  height: 96px;
  margin-right: $sp-lg;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 16px;
    left: 16px;
    bottom: 16px;
    right: 16px;
    background-size: 200%;
    background-image: url('assets/sprite.png');
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.c-page-header__avatar {
  display: block;
  position: relative;
  z-index: 2;
}

.c-page-header__submenu {
  @include fontsize(base);
  color: $c-grey-400;
  border-top: $bdr-thin $c-grey-200 solid;
  margin: $sp-md auto (-1 * $sp-md);
  position: relative;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: $sp-md;
  }

  &::before {
    background: linear-gradient(90deg, $c-grey-100, $c-grey-100 12%, transparent);
    left: 0;
  }

  &::after {
    background: linear-gradient(-90deg, $c-grey-100, $c-grey-100 12%, transparent);
    right: 0;
  }
}

.c-page-header__submenu-list {
  padding: $sp-md 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
}

.c-page-header__submenu-item {
  display: inline-block;
  line-height: 1;

  &:first-child {
    padding-left: $sp-lg;
  }

  &:last-child {
    padding-right: $sp-lg;
  }

  & + & {
    margin-left: $sp-lg;
  }
}

.c-page-header__breadcrumb {
  @include fontsize(base);
  line-height: 1;
  color: $c-grey-400;
  display: inline-block;
  margin-bottom: $sp-sm;
}

.c-page-header__breadcrumb,
.c-page-header__submenu-link {
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}
