.c-pagination {
  @include fontsize(base);
  display: flex;
  align-items: center;
  font-family: $ff-sans;
  color: $c-grey-400;
}

.c-pagination__button {
  flex: 0 0 auto;
}

.c-pagination__current {
  flex: 0 1 auto;
  margin: 0 auto;
}
