.home .c-popular {
  @include mq($from: md) {
    border-right: $bdr-thin $c-grey-200 solid;
  };
}

.c-popular__list {
  counter-reset: popular;
}

.c-popular__item {
  counter-increment: popular;
  align-items: flex-start;

  &::before {
    content: counter(popular);
    color: $c-brand-300;
    font-family: $ff-sans;
    flex: 0 1 auto;
    font-size: 21px;
    font-weight: 700;
  }
}

.c-popular__story {
  min-width: 0;
  padding-left: $sp-md;
  overflow-x: hidden;
}
  
.c-popular__headline {
  @include fontsize(sm);
}
