.c-promo {
  margin: $sp-xl 0;

  @include mq($from: md) {
    border-top: $bdr-thin $c-grey-200 solid;
    border-bottom: $bdr-thin $c-grey-200 solid;
    margin: 0;
    padding: $sp-xl 0;
  };
}

.c-promo__container {
  padding: 0 $sp-lg;
  max-width: $l-max-width;
  margin: 0 auto;
  align-items: center;

  @include mq($until: 480px) {
    text-align: center;
    display: block;
  };

  &:hover,
  &:active,
  &:focus {
    .c-promo__cta {
      border-color: $c-info-400;
    }

    .c-promo__illustration {
      box-shadow: $shad-4dp;
    }
  }
}

.c-promo__illustration {
  display: inline-block;
  margin-right: $sp-lg;
  background-color: $c-white;
  padding: $sp-md;
  border-radius: 50%;
  box-shadow: $shad-1dp;
  transition: $mv-slow box-shadow $easeInOutQuad;

  @include mq($until: 480px) {
    margin-bottom: $sp-lg;
    margin-right: 0;
  };
}

.c-promo__image {
  height: 64px;
  width: 64px;
  background-size: 200%;
  background-repeat: no-repeat;
}

.c-promo__body > * + * {
  margin-top: $sp-xs;
}

.c-promo__heading {
  @include fontsize(3);
  font-family: $ff-sans;
  font-weight: 900;
}

.c-promo__copy {
  @include fontsize(base);
  max-width: 30em;

  p {
    display: inline;

    &::after {
      content: '\2003'
    }
  }
}

.c-promo__copy a,
.c-promo__cta {
  color: $c-info-400;
}

.c-promo__cta {
  display: inline-flex;
  align-items: center;
  font-family: $ff-sans;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 0.9em;
  font-weight: 700;
  border-bottom: $bdr-md $c-info-100 solid;
  transition: $mv-fast border-color linear;

  .c-icon {
    height: 1em;
    width: auto;
    margin-left: $sp-xs;
    stroke-width: 3;
  }
}

