.c-searchbar {
  display: flex;
  position: relative;
}

.c-searchbar--main {
  margin: 0 (-1 * $sp-md) $sp-md;
}

.c-searchbar__field {
  color: $c-grey-900;
  font-family: $ff-sans;
  flex: 0 1 auto;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  height: 48px;
  padding-right: 3rem;
}

.c-searchbar--main .c-searchbar__field {
  @include fontsize(4);
  background-color: $c-white;
}

.c-searchbar__button {
  flex: 0 auto;
  position: absolute;
  right: 0;
  color: $c-grey-300;
  border-left: $bdr-thin $c-grey-200 solid;
}
