.c-sidebar {
  @include mq($from: lg) {
    width: 33.3333%;
  }
}

.c-sidebar__label {
  @include fontsize(base);
  font-family: $ff-sans;
  color: $c-grey-400;
  margin-bottom: $sp-sm;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-weight: 400;
}
