@keyframes fade-up {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }

  66% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-and-hold {
  0% {
    transform: translateX(-150%) scale(0.5);
    opacity: 0;
  }

  33% {
    transform: none;
    opacity: 1;
  }

  80% {
    transform: none;
    opacity: 1;
  }

  100% {
    transform: translateX(150%) scale(0.5);
    opacity: 0;
  }
}

@keyframes angry-shake {
  33% {
    transform: translateX(-12px);
  }

  66% {
    transform: translateX(12px);
  }
}

.c-story-stream__list {
  &.is-locked {
    animation-play-state: paused;
  }
}

.c-story-stream__item {
  clear: both;
  animation: fade-up 600ms $easeOutQuad 500ms 1 both;
  animation-play-state: inherit;
  will-change: transform, opacity;

  @at-root .no-js & {
    animation-delay: 120ms;
  }
}

.c-story-stream__story {
  align-items: flex-start;
  flex-direction: row-reverse;
  
  @include mq($from: 600px) {
    display: flex;
  }
}

.c-story-stream__thumbnail {
  float: right;
  width: 64px;
  margin-left: $sp-md;
  margin-bottom: $sp-xs;

  @include mq($until: 600px) {
    &::before {
      padding-top: 100%;
    }

    &::after {
      background-size: 48px;
    }
  }

  @include mq($from: 600px) {
    width: 256px;
  }
}

.c-story-stream__headline {
  @include mq($from: md) {
    @include fontsize(3);
  }
}

.c-story-stream__footer {
  margin: $sp-xl 0 $sp-lg;
  text-align: center;

  @include mq($until: md) {
    padding: 0 $sp-lg;
  }

  @include mq($from: md) {
    margin: $sp-xl 0 0;
  }
}

.c-story-stream__load-more-button {
  min-width: 16rem;
  position: relative;
  will-change: transform;
  
  @include mq($until: sm) {
    width: 100%;
  };

  @at-root .no-js &,
  &.is-hidden {
    display: none;
    visibility: hidden;
  }

  &.is-loading {
    .c-button__text {
      opacity: 0;
    }

    .c-story-stream__loading-bar {
      opacity: 1;
    }
  }

  &.is-errored {
    animation: angry-shake 180ms $easeInOutCubic 0s 2 alternate;
    background-color: $c-error-100;
    color: $c-error-400;
  }
}

.c-story-stream__loading-bar {
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  > span {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin: 0 $sp-xs;
    background-color: transparentize($c-white, 0.667);
    animation: slide-and-hold 1.2s $easeInOutCirc 240ms infinite backwards;

    &:first-child {
      animation-delay: 350ms;
    }

    &:last-child {
      animation-delay: 120ms;
    }
  }
}
