.c-vertical:nth-child(2n + 2) {
  @include mq($from: md) {
    border-left: $bdr-thin $c-grey-200 solid;
  }
}

.c-vertical:nth-child(n + 2) {
  @include mq($from: lg) {
    border-left: $bdr-thin $c-grey-200 solid;
  };
}

.c-vertical:nth-child(n + 3) {
  @include mq($from: md, $until: lg) {
    margin-top: $sp-xl;
  };
}

.c-vertical__thumbnail {
  float: right;
  width: 64px;
  margin-left: $sp-md;
  margin-bottom: $sp-xs;

  &::before {
    padding-top: 100%;
  }
}

.c-vertical__item:nth-child(n+2) {
  @include mq($from: md) {
    border-bottom: 0;
    padding-bottom: 0;
  }
}
