.c-featured-stories {
  @include mq($from: md) {
    border-left: $bdr-thin $c-grey-200 solid;
  }
}

.c-featured-stories__list {
  @include mq($from: md) {
    display: flex;
    flex-wrap: wrap;
  };
}

.c-featured-stories__story {
  height: 100%;
  @include mq($from: md) {
    display: flex;
    flex-direction: column;
  }
}

.c-featured-stories__item:first-child {
  @include mq($until: md) {
    .c-featured-stories__thumbnail {
      margin: (-1 * $sp-lg) (-1 * $sp-lg) $sp-lg;      
    }
  }

  .o-teaser {
    margin: $sp-md auto 0;
  }
}

.c-featured-stories__item:nth-child(n + 2) { 
  @include mq($until: md) {
    .c-featured-stories__thumbnail {
      float: right;
      width: 64px;
      margin-left: $sp-sm;
      margin-bottom: $sp-xs;
    
      &::before {
        padding-top: 100%;
      }

      &::after {
        background-size: 48px;
      }
    }
  }

  @include mq($from: md) {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.c-featured-stories__item:nth-child(2n+3) {
  padding-left: $sp-lg;
  border-left: $bdr-thin $c-grey-200 solid;
}

.c-featured-stories__item:nth-child(2n+2) {
  padding-right: $sp-lg;
}

.c-featured-stories__thumbnail {
  @include mq($from: md) {
    margin-bottom: $sp-lg;
    width: 100%;
  }
}
