.c-latest-stories {
  @include mq($from: md, $until: lg) {
    margin-top: $sp-xl;
  };

  @include mq($from: lg) {
    border-left: $bdr-thin $c-grey-200 solid;
  };
}

.c-latest-stories__list {
  @include mq($from: md, $until: lg) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-1 * $sp-lg);
  }
}

.c-latest-stories__item {
  @include mq($from: md, $until: lg) {
    width: percentage(1 / 3);
    
    &:nth-child(n + 2) {
      padding: 0 $sp-lg 0;
      margin-bottom: 0;
      border-left: $bdr-thin $c-grey-200 solid;
      border-bottom: 0;

      .c-latest-stories__summary-body {
        display: flex;
        flex-direction: column;
      }
      
      .c-latest-stories__headline {
        margin-bottom: auto;
      }

      .c-latest-stories__thumbnail {
        display: none;
      }
    }

    &:nth-child(3n + 2) {
      border-left: 0;
    }
  }
}

.c-latest-stories__item:first-child {
  width: 100%;

  @include mq($from: md, $until: lg) {
    margin-right: $sp-lg;
    margin-left: $sp-lg;
  }

  .c-latest-stories__summary {
    @include mq($from: md, $until: lg) {
      display: flex;
    }
  }

  .c-latest-stories__thumbnail {
    margin: (-1 * $sp-lg) (-1 * $sp-lg) $sp-md;

    @include mq($from: md, $until: lg) {
      margin: 0 $sp-md 0 0;
      width: 50%;
    }

    @include mq($from: lg) {
      margin: 0 0 $sp-md;
    }
  }
}

.c-latest-stories__summary,
.c-latest-stories__summary-body {
  height: 100%;
}

.c-latest-stories__thumbnail--small {
  float: right;
  width: 64px;
  margin-left: $sp-sm;
  margin-bottom: $sp-xs;

  &::before {
    padding-top: 100%;
  }

  &::after {
    background-size: 48px;
  }
}
