.c-opinions {
  @include mq($from: md) {
    margin-top: $sp-xl;
  }
}

.c-opinions__list {
  @include mq($from: md, $until: 919.9px) {
    display: flex;
    flex-wrap: wrap;
  }

  &::before,
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.c-opinions__item:first-child {
  width: 100%;

  @include mq($from: 920px) {
    width: 50%;
    padding: 0 $sp-lg 0 0;
    border-right: $bdr-thin $c-grey-200 solid;
    border-bottom: 0;
    float: left;
    margin-bottom: 0;

    .c-opinions__summary,
    .c-opinions__summary-body {
      height: 100%;
    }

    .c-opinions__summary-body {
      display: flex;
      flex-direction: column;
    }
  };
}

.c-opinions__item:nth-child(n+2) {
  @include mq($from: md) {
    width: 50%;
  }

  @include mq($from: md, $until: 919.9px) {
    .c-opinions__summary,
    .c-opinions__summary-body {
      height: 100%;
    }

    .c-opinions__summary-body {
      display: flex;
      flex-direction: column;
    }
  }

  @include mq($from: 920px) {
    float: right;
    margin-left: $sp-lg;
    width: calc(50% - #{$sp-lg});
  };
}

.c-opinions__item:nth-child(2n + 2) {
  @include mq($from: md, $until: 919.9px) {
    padding-right: $sp-lg;
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.c-opinions__item:nth-child(2n + 3) {
  @include mq($from: md, $until: 919.9px) {
    padding-left: $sp-lg;
    border-left: $bdr-thin $c-grey-200 solid;
  }
}

.c-opinions__byline {
  padding-right: $sp-md;
}

.c-opinions__profile {
  height: 32px;
  width: 32px;
  background-image: url('assets/static/illustration-person.png');
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  overflow: hidden;
  border: $bdr-thin $c-grey-100 solid;
}
