.c-top-story {
  @include mq($until: md) {
    background-color: $c-white;
    box-shadow: $shad-2dp;
  }
  
  @include mq($until: lg) {
    display: block;
  }
}

.c-top-story__body {
  padding: $sp-lg;

  @include mq($from: md) {
    padding: 0;
  }
}

.c-top-story__thumbnail {
  margin: 0;

  @include mq($from: md, $until: lg) {
    margin: (-1 * $sp-xl) (-1 * $sp-lg) $sp-lg;
  };

  @include mq($from: lg) {
    margin: 0 $sp-lg 0 0;
    width: 50%;
  };
}

