$typescale: (
  xxxl: (
    base: 57 60
  ),
  xxl: (
    base: 48 56
  ),
  xl: (
    base: 40 52
  ),
  1: (
    base: 33 48
  ),
  2: (
    base: 28 36
  ),
  3: (
    base: 23 32
  ),
  4: (
    base: 20 28
  ),
  body: (
    base: 16 28,
    md: 17 32,
  ),
  base: (
    base: 16 24
  ),
  sm: (
    base: 14 20
  ),
  xs: (
    base: 12 16
  )
) !default;

@function _addUnit($int, $use-rem) {
  @if $use-rem {
    @return $int / 16 * 1rem;
  } @else {
    @return $int * 1px;
  }
}

@mixin fontsize($level, $use-rem: true) {
  @if map-has-key($typescale, $level) {
    $superset: map-get($typescale, $level);
    $baseset: map-get($superset, base);
    $baselh: "#{nth($baseset, 2) / nth($baseset, 1)}";

    font-size: _addUnit(nth($baseset, 1), $use-rem);
    line-height: unquote($baselh);

    @if map-has-key($superset, sm) {

      @include mq($from: sm) {
        $smset: map-get($superset, sm);
        $smlh: "#{nth($smset, 2) / nth($smset, 1)}";

        font-size: _addUnit(nth($smset, 1), $use-rem);
        line-height: unquote($smlh);
      }

    }

    @if map-has-key($superset, md) {

      @include mq($from: md) {
        $mdset: map-get($superset, md);
        $mdlh: "#{nth($mdset, 2) / nth($mdset, 1)}";

        font-size: _addUnit(nth($mdset, 1), $use-rem);
        line-height: unquote($mdlh);
      }

    }

    @if map-has-key($superset, lg) {

      @include mq($from: lg) {
        $lgset: map-get($superset, lg);
        $lglh: "#{nth($lgset, 2) / nth($lgset, 1)}";

        font-size: _addUnit(nth($lgset, 1), $use-rem);
        line-height: unquote($lglh);
      }

    }
  }
}
