@mixin touch-scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}

@mixin touch-scroll-list {
  display: inline-flex;
  white-space: nowrap;
  padding: 0 1rem;
}

@mixin touch-scroll-item($width: 33%, $min-width: 15rem) {
  display: inline-block;
  vertical-align: top;
  flex: 0 1 auto;
  width: $min-width;
  border-radius: $bdr-radius;
  border: $bdr-thin $c-grey-200 solid;
  background-color: $c-white;
  padding: $sp-md;
  white-space: normal;

  & + & {
    margin-left: $sp-sm;
  }
}
