.o-byline {
  font-size: inherit;
  line-height: inherit;
  font-style: normal;
  display: inline;

  a {
    font-weight: 700;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}

.c-article__header .o-byline {
  display: block;
}
