.o-headline {
  @include fontsize(4);
  font-family: $ff-disp;
  font-weight: 700;
  word-break: break-word;

  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
  }
}

.o-headline--large {
  @include fontsize(3);

  @include mq($from: md) {
    @include fontsize(2);
  };
}

.o-headline--title {
  @include fontsize(3);

  @include mq($from: sm) {
    @include fontsize(2);
  };

  @include mq($from: md) {
    @include fontsize(1);
  };
}

.o-headline--small {
  @include fontsize(base);
}

.o-headline--smallest {
  @include fontsize(sm);
}
