.o-kicker {
  @include fontsize(xs);
  color: $c-grey-400;
  font-family: $ff-sans;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-bottom: $sp-sm;
  
  a {
    color: $c-brand-400;
  }
}

.o-kicker--large {
  @include fontsize(sm);
}

.o-kicker__breaking-news-badge {
  font-weight: 700;
  color: $c-white;
  background-color: $c-error-400;
  border-radius: $bdr-radius;
  padding: $sp-xs $sp-sm;
}

.c-top-story .o-kicker {
  margin-bottom: $sp-md;
}
