.o-metabar {
  @include fontsize(sm);
  display: flex;
  align-items: center;
  font-family: $ff-sans;
  color: $c-grey-400;
}

.o-metabar--extended {
  @include mq($until: 600px) {
    display: block;

    .o-metabar__item {
      padding-left: 0;
    }
  }
}

.o-metabar__item {
  flex: 0 1 auto;
  & + & {
    padding-left: $sp-md;
  }
}

.o-metabar__item--right {
  margin-left: auto;
}
