.o-teaser {
  @include fontsize(base);
  max-width: 30em;
  margin-top: $sp-md;

  a {
    display: none;
    visibility: hidden;
  }
}

.o-teaser--small {
  @include fontsize(sm);
}

.o-teaser--tight {
  margin-top: $sp-sm;
}

.o-teaser--large {
  @include fontsize(body);
}
