@keyframes loading {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.25;
  }
}

.o-thumbnail {
  display: block;
  position: relative;
  overflow: hidden;
  color: transparent;
  background-color: $c-grey-100;

  &::before {
    content: '';
    display: block;
    padding-top: percentage(9 / 16);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 35 34" fill="#afb5c2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M9.9742 6.4292v.7478l2.2413 1.1124V6.4292H9.9742zm1.3074 19.6v2.7618h-.7642v-3.6094l.7644-.9892-.0002 1.8368zm.934-5.99l-.934.9185h.934v-.9184zm-2.2414 0l-.934.9185h.934v-.9184zm0-9.622l-.934.7885v8.134l.934-.7886v-8.134zm2.2413 0l-.934.7885v8.134l.934-.7886v-8.134zM14.9825 0l-1.2818 1.3872-.343.3706V4.376h-7.157l-5.08 5.3948-.0373 21.5008 3.4363-2.9023v-18.305l1.158-1.302v21.17L0 34.3593h6.238l-.033-26.19-.0043-.567V4.9342H15.41l-.9505.7507v28.6745l1.681-1.327h18.3394l-6.5553-6.529H16.1404V4.3577l-.0372.029V4.376h-1.1775l.057-.0182V1.3872h.6346v2.9706h.523V1.3872L14.9827 0z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64px;
    animation: 0.8s $easeInOutSine infinite alternate loading;
  }
}

.o-thumbnail__object {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

img.o-thumbnail__object {
  @extend %lazy-blur;
  object-fit: cover;
  object-position: center;
  font-family: 'object-fit: cover';
}
