.o-action-group {
  font-size: 0;
}

.o-action-group__item {
  font-size: 1rem;
  vertical-align: middle;
  width: 100%;
  margin-bottom: $sp-sm;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq($from: 500px) {
    width: auto;
    margin-bottom: 0;
    
    & + & {
      margin-left: $sp-md;
    }
  }
}
