.o-container {
  max-width: $l-max-width;
  margin: 0 auto;
  padding: 0 1.5rem;

  @include mq($from: lg) {
    max-width: $l-max-width-lg;
  }
}

.o-container--flush {
  padding-left: 0;
  padding-right: 0;
}

.o-container--wide {
  max-width: $l-max-width-lg;
}

