.o-deck {
  background-color: $c-white;

  @include mq($until: md) {
    margin-bottom: $sp-md;
  };

  @include mq($from: md) {
    padding: $sp-xl 0;

    & + & {
      padding-top: 0;
    }
  }
}

.o-deck--vanish {
  @include mq($until: md) {
    background-color: transparent;
  }
}

.o-deck__container {
  display: flex;
  flex-wrap: wrap;
  max-width: $l-max-width-lg;
  margin: 0 auto;
}

.o-deck__container--narrow {
  @include mq($until: lg) {
    max-width: $l-max-width;
  }
}

.o-deck__column {
  @include mq($from: md) {
    padding: 0 $sp-lg;
  }
}
