.o-layout {
  font-size: 0;
  margin-left: -1 * $l-gutters;
  margin-right: -1 * $l-gutters;
  
  @include mq($from: md) {
    margin-left: -1 * $l-gutters-md;
    margin-right: -1 * $l-gutters-md;
  }

  // @include mq($from: 1100px) {
  //   margin-left: -2 * $l-gutters-md;
  //   margin-right: -2 * $l-gutters-md;
  // }
}

.o-layout--flex {
  display: flex;
  flex-wrap: wrap;
}

.o-layout,
.o-layout__item {
  padding-left: $l-gutters / 2;
  padding-right: $l-gutters / 2;

  @include mq($from: md) {
    padding-left: $l-gutters-md / 2;
    padding-right: $l-gutters-md / 2;
  }

  // @include mq($from: 1100px) {
  //   padding-left: $l-gutters-md;
  //   padding-right: $l-gutters-md;
  // }
}

.o-layout__item {
  @include fontsize(base);
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
