.o-media {
  display: flex;
  align-items: flex-start;
}

.o-media--align-center {
  align-items: center;
}

.o-media__image {
  flex: 0 0 auto;
}

.o-media__image--thumb {
  width: 64px;
  margin-right: $sp-md;
  
  @include mq($from: sm) {
    width: 96px;
  }
}

.o-media__image--round,
.o-media__image--avatar {
  border-radius: 50%;
  overflow: hidden;
}

.o-media__image--avatar {
  background-color: $c-white;
  background-image: url('assets/sprite.png');
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.o-media__body {
  flex: 1 auto;
}

.o-media__image--token {
  background-color: $c-white;
  border-radius: 50%;
  box-shadow: $shad-1dp;
}
