.o-story__header {
  flex: 1 1 auto;  
}

.o-story__title {
  @include fontsize(4);
  font-family: $ff-disp;
  font-weight: 700;
}

.o-story__title,
.o-story__byline {
  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
  }
}

.o-story__teaser {
  @include fontsize(base);
  margin-bottom: $sp-md;
  color: $c-grey-700;

  // hiding the read more link
  a {
    display: none;
    visibility: hidden;
  }
}

.o-story__timestamp {
  @include fontsize(sm);
  font-family: $ff-sans;
  color: $c-grey-400;
  margin: $sp-xs 0 $sp-sm;
}

.o-story__thumbnail {
  @include fontsize(sm);
  flex: 0 0 auto;  
  display: block;
  overflow: hidden;
  background-color: $c-grey-100;
  color: $c-grey-400;
  font-family: $ff-sans;
  box-shadow: 0 1px 5px 1px transparentize($c-black, 0.9);
}

.o-story__image {
  @extend %lazy-blur;  
  display: block;
}

.o-story__kicker,
.o-story__byline {
  color: $c-grey-400;
  font-family: $ff-sans;
}

.o-story__kicker {
  @include fontsize(sm);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 400;
  margin-bottom: $sp-xs;

  a {
    color: $c-brand-400;
  }
}

.o-story__byline {
  @include fontsize(sm);
  clear: both;

  a {
    font-weight: 700;
  }
}

// Stories on the homepage
.c-module--cover-story {
  text-align: center;

  .o-story__title {
    @include fontsize(2);
  }

  .o-story__timestamp {
    @include fontsize(base);
    margin-top: $sp-sm;
  }

  .o-story__thumbnail + .o-story__header {
    text-align: left;
  
    .o-story__title {
      @include fontsize(3);
    }
  }

  .o-story__thumbnail {
    margin-bottom: $sp-md;

    @include mq($until: md) {
      margin: (-1 * $sp-md) (-1 * $sp-md) $sp-md;
    }
  }

  @include mq($from: lg) {
    .o-story__container {
      display: flex;
      align-items: center;
    }

    .o-story__thumbnail {
      margin: 0 $sp-lg 0 0;
      width: 50%;
    }
  };
}


.c-module--latest-news,
.c-module--latest-stories,
.c-vertical {
  .o-story__title {
    @include fontsize(base);
  }

  .o-story__kicker {
    @include fontsize(xs);
    margin-bottom: $sp-xs;
  }
}

.c-vertical {
  .o-story__thumbnail {
    margin-bottom: $sp-md;
  }
}
